Repository kisinga/Dukahub: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, combined

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 15%
        threshold: 5%
    patch:
      default:
        target: 10%
        threshold: 5%

flags:
  backend:
    paths:
      - backend/src/
    carryforward: true
  frontend:
    paths:
      - frontend/src/
    carryforward: true
  combined:
    paths:
      - backend/src/
      - frontend/src/
    carryforward: true

comment:
  layout: "header,diff,files,footer"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  hide_project_coverage: false
  hide_comment: false

github_checks:
  annotations: true

Refactor Purchase and Stock Services for Improved Code Quality
  backend/src/services/credit/supplier-credit.service.ts
  backend/src/services/payments/supplier-payment-allocation.service.ts
  backend/src/services/stock/entities/purchase.entity.ts
  backend/src/services/stock/purchase.service.ts
  backend/src/services/stock/stock-adjustment.service.ts
  frontend/src/app/app.routes.ts
  frontend/src/app/core/services/draft/purchase-draft.service.ts
  frontend/src/app/dashboard/pages/products/products.component.ts
  frontend/src/app/dashboard/pages/purchase-create/components/purchase-form-fields.component.ts
  frontend/src/app/dashboard/pages/purchase-create/components/purchase-line-item-form.component.ts
  frontend/src/app/dashboard/pages/purchase-create/components/purchase-line-items-table.component.ts
  frontend/src/app/dashboard/pages/purchase-create/components/purchase-supplier-selector.component.ts
  frontend/src/app/dashboard/pages/purchase-create/purchase-create.component.ts
  frontend/src/app/dashboard/pages/purchases/purchases.component.html
  frontend/src/app/dashboard/pages/purchases/purchases.component.ts
Due: backend, frontend, combined

Refactor Dashboard Services and Enhance Inventory Management
  frontend/src/app/app.routes.ts
  frontend/src/app/core/graphql/generated/gql.ts
  frontend/src/app/core/graphql/generated/graphql.ts
  frontend/src/app/core/graphql/operations.graphql.ts
  frontend/src/app/core/services/dashboard.service.ts
  frontend/src/app/core/services/dashboard/payment-clusterer.util.ts
  frontend/src/app/core/services/dashboard/period-calculator.util.ts
  frontend/src/app/core/services/dashboard/purchase-metrics.service.ts
  frontend/src/app/core/services/dashboard/sales-metrics.service.ts
  frontend/src/app/dashboard/layout/dashboard-layout.component.html
  frontend/src/app/dashboard/layout/dashboard-layout.component.ts
  frontend/src/app/dashboard/pages/inventory/inventory.component.ts
  frontend/src/app/dashboard/pages/overview/overview.component.html
  frontend/src/app/dashboard/pages/overview/overview.component.ts
  frontend/src/app/dashboard/pages/products/products.component.html
  frontend/src/app/dashboard/pages/products/products.component.ts
Due: frontend, combined

Implement Utility Functions for Enhanced Statistics Calculation
  frontend/src/app/core/services/dashboard/purchase-metrics.service.ts
  frontend/src/app/core/services/stats/customer-stats.util.ts
  frontend/src/app/core/services/stats/payment-stats.util.ts
  frontend/src/app/core/services/stats/product-stats.util.ts
  frontend/src/app/core/services/stats/purchase-stats.util.ts
  frontend/src/app/core/services/stats/supplier-stats.util.ts
  frontend/src/app/dashboard/pages/customers/customers.component.ts
  frontend/src/app/dashboard/pages/payments/payments.component.ts
  frontend/src/app/dashboard/pages/products/products.component.ts
  frontend/src/app/dashboard/pages/purchases/purchases.component.ts
  frontend/src/app/dashboard/pages/suppliers/suppliers.component.ts
Due: frontend, combined

Refactor Product and Customer Services for Improved Structure and Clarity
  frontend/src/app/core/services/app-init.service.ts
  frontend/src/app/core/services/auth.service.ts
  frontend/src/app/core/services/auth/auth-login.service.ts
  frontend/src/app/core/services/auth/auth-otp.service.ts
  frontend/src/app/core/services/auth/auth-permissions.service.ts
  frontend/src/app/core/services/auth/auth-session.service.ts
  frontend/src/app/core/services/cart.service.ts
  frontend/src/app/core/services/customer.service.ts
  frontend/src/app/core/services/customer/customer-address.service.ts
  frontend/src/app/core/services/customer/customer-api.service.ts
  frontend/src/app/core/services/customer/customer-credit.service.ts
  frontend/src/app/core/services/customer/customer-payment.service.ts
  frontend/src/app/core/services/customer/customer-search.service.ts
  frontend/src/app/core/services/customer/customer-state.service.ts
  frontend/src/app/core/services/product.service.ts
  frontend/src/app/core/services/product/product-api.service.ts
  frontend/src/app/core/services/product/product-asset.service.ts
  frontend/src/app/core/services/product/product-cache.service.ts
  frontend/src/app/core/services/product/product-listing.service.ts
  frontend/src/app/core/services/product/product-option.service.ts
  frontend/src/app/core/services/product/product-search.service.ts
  frontend/src/app/core/services/product/product-state.service.ts
  frontend/src/app/core/services/product/product-validation.service.ts
  frontend/src/app/core/services/product/product-variant.service.ts
  frontend/src/app/core/services/purchase.service.types.ts
  frontend/src/app/core/services/stock-adjustment.service.types.ts
  frontend/src/app/dashboard/pages/overview/overview.component.html
  frontend/src/app/dashboard/pages/overview/overview.component.scss
  frontend/src/app/dashboard/pages/purchase-create/components/purchase-line-item-form.component.ts
  frontend/src/app/dashboard/pages/purchase-create/purchase-create.component.ts
  frontend/src/app/dashboard/pages/sell/components/cart.component.ts
  frontend/src/app/dashboard/pages/sell/components/product-confirm-modal.component.ts
  frontend/src/app/dashboard/pages/sell/components/product-scanner.component.ts
  frontend/src/app/dashboard/pages/sell/components/search-view.component.ts
  frontend/src/app/dashboard/pages/sell/sell.component.ts
  frontend/src/app/dashboard/pages/stock-adjustments/stock-adjustments.component.ts
Due: frontend, combined

Refactor Supplier Service for Improved Structure and Maintainability
  frontend/src/app/core/services/supplier.service.ts
  frontend/src/app/core/services/supplier/supplier-api.service.ts
  frontend/src/app/core/services/supplier/supplier-search.service.ts
  frontend/src/app/core/services/supplier/supplier-state.service.ts
Due: frontend, combined

Enhance Dockerfile and Nginx Configuration for Improved Build Validation and Asset Management
  frontend/Dockerfile
  frontend/nginx.conf
Due: none

minor fix plus format
  backend/src/migrations/1761800000000-AddUserAuthorizationField.ts
  backend/src/utils/phone.utils.ts
  docs/AUTHORIZATION_WORKFLOW.md
  docs/CHANNEL_LINKING_IMPLEMENTATION.md
  docs/REGISTRATION_FIELDS.md
  frontend/nginx.conf
  frontend/src/app/core/services/registration.service.ts
  frontend/src/app/dashboard/pages/settings/components/subscription-status.component.ts
  frontend/src/app/pages/auth/signup/signup.component.css
Due: backend, frontend, combined

Add Ledger Plugin and Related Entities for Financial Management
  backend/src/domain/cashier/cashier-session.entity.ts
  backend/src/domain/money/money-event.entity.ts
  backend/src/domain/period/period-lock.entity.ts
  backend/src/domain/recon/reconciliation.entity.ts
  backend/src/infrastructure/audit/audit-db.connection.ts
  backend/src/ledger/account.entity.ts
  backend/src/ledger/journal-entry.entity.ts
  backend/src/ledger/journal-line.entity.ts
  backend/src/ledger/posting.service.ts
  backend/src/migrations/1765000000000-CreateLedgerTables.ts
  backend/src/migrations/1765000000001-AlignStockConstraints.ts
  backend/src/migrations/1765000000002-FixLedgerSchemaDiff.ts
  backend/src/plugins/ledger/ledger.plugin.ts
  backend/src/services/payments/payment-allocation.service.ts
  backend/src/services/payments/payment-events.adapter.ts
  backend/src/vendure-config.ts
Due: backend, combined

Add Financial Services and Chart of Accounts Initialization
  backend/scripts/check-indexes.ts
  backend/scripts/force-migration.ts
  backend/src/ledger/journal-entry.entity.ts
  backend/src/ledger/journal-line.entity.ts
  backend/src/migrations/1766000000000-SetupChartOfAccounts.ts
  backend/src/migrations/1766000100000-CreatePurchasePaymentTable.ts
  backend/src/migrations/1766000200000-AddLedgerIndexes.ts
  backend/src/migrations/1766000300000-BackfillLedgerFromExistingData.ts
  backend/src/migrations/1766000400000-FixPurchasePaymentConstraints.ts
  backend/src/migrations/1766000500000-EnsureGinIndexes.ts
  backend/src/migrations/1766000600000-SyncGinIndexes.ts
  backend/src/plugins/credit/credit.plugin.ts
  backend/src/plugins/ledger/ledger.plugin.ts
  backend/src/services/credit/credit.service.ts
  backend/src/services/credit/supplier-credit.service.ts
  backend/src/services/financial/chart-of-accounts.service.ts
  backend/src/services/financial/financial.service.ts
  backend/src/services/financial/ledger-posting.service.ts
  backend/src/services/financial/ledger-query.service.ts
  backend/src/services/financial/posting-policy.ts
  backend/src/services/orders/order-creation.service.ts
  backend/src/services/orders/order-payment.service.ts
  backend/src/services/payments/payment-allocation.service.ts
  backend/src/services/payments/payment-events.adapter.ts
  backend/src/services/payments/supplier-payment-allocation.service.ts
  backend/src/services/stock/entities/purchase-payment.entity.ts
  backend/src/services/stock/purchase.service.ts
  backend/src/vendure-config.ts
  docs/CUSTOMER_PROVISIONING.md
Due: backend, combined

Add Financial Ledger System Documentation and Update Customer Services
  ARCHITECTURE.md
  docs/LEDGER_ARCHITECTURE.md
  frontend/src/app/core/services/customer.service.ts
  frontend/src/app/core/services/customer/customer-credit.service.ts
  frontend/src/app/dashboard/pages/customers/components/customer-card.component.ts
  frontend/src/app/dashboard/pages/customers/components/customer-table-row.component.ts
  frontend/src/app/dashboard/pages/customers/components/customer-view-modal.component.ts
  frontend/src/app/dashboard/pages/customers/customers.component.ts
Due: frontend, combined

refactor: break down registration service into composable LOB modules
  backend/src/plugins/auth/phone-auth.plugin.ts
  backend/src/services/auth/phone-auth.service.ts
  backend/src/services/auth/provisioning/access-provisioner.service.ts
  backend/src/services/auth/provisioning/channel-assignment.service.ts
  backend/src/services/auth/provisioning/channel-provisioner.service.ts
  backend/src/services/auth/provisioning/payment-provisioner.service.ts
  backend/src/services/auth/provisioning/registration-auditor.service.ts
  backend/src/services/auth/provisioning/registration-error.service.ts
  backend/src/services/auth/provisioning/registration-validator.service.ts
  backend/src/services/auth/provisioning/role-provisioner.service.ts
  backend/src/services/auth/provisioning/store-provisioner.service.ts
  backend/src/services/auth/registration.service.ts
  docs/REGISTRATION_QA_CHECKLIST.md
Due: backend, combined

tests fix
  backend/src/services/auth/provisioning/role-provisioner.service.ts
  backend/src/services/auth/registration.service.ts
Due: backend, combined

feat: link dashboard stats to ledger
  backend/src/plugins/ledger/dashboard-stats.resolver.ts
  backend/src/plugins/ledger/dashboard-stats.schema.ts
  backend/src/plugins/ledger/ledger.plugin.ts
  backend/src/services/financial/ledger-query.service.ts
  frontend/src/app/core/graphql/generated/gql.ts
  frontend/src/app/core/graphql/generated/graphql.ts
  frontend/src/app/core/graphql/operations.graphql.ts
  frontend/src/app/core/services/dashboard.service.ts
  frontend/src/app/core/services/dashboard/purchase-metrics.service.ts
  frontend/src/app/core/services/dashboard/sales-metrics.service.ts
Due: backend, frontend, combined

refactor: enhance financial service logging and error handling
  backend/src/services/financial/financial.service.ts
  backend/src/services/financial/ledger-query.service.ts
  backend/src/services/financial/posting-policy.ts
  backend/src/services/orders/order-payment.service.ts
Due: backend, combined

feat: introduce account codes and payment method codes as constants
  backend/src/ledger/account-codes.constants.ts
  backend/src/services/auth/provisioning/payment-provisioner.service.ts
  backend/src/services/financial/chart-of-accounts.service.ts
  backend/src/services/financial/financial.service.ts
  backend/src/services/financial/ledger-query.service.ts
  backend/src/services/financial/payment-method-mapping.config.ts
  backend/src/services/financial/posting-policy.ts
  backend/src/services/payments/payment-allocation.service.ts
  backend/src/services/payments/payment-handlers.ts
  backend/src/services/payments/payment-method-codes.constants.ts
  backend/src/services/payments/supplier-payment-allocation.service.ts
Due: backend, combined

feat: add Vendure version compatibility constant and update plugins
  backend/src/constants/vendure-version.constants.ts
  backend/src/domain/cashier/cashier-session.entity.ts
  backend/src/domain/money/money-event.entity.ts
  backend/src/domain/period/period-lock.entity.ts
  backend/src/domain/recon/reconciliation.entity.ts
  backend/src/ledger/account.entity.ts
  backend/src/migrations/1761800000000-AddUserAuthorizationField.ts
  backend/src/migrations/1765000000002-FixLedgerSchemaDiff.ts
  backend/src/plugins/audit/audit.plugin.ts
  backend/src/plugins/auth/phone-auth.plugin.ts
  backend/src/plugins/channels/channel-events.plugin.ts
  backend/src/plugins/channels/channel-settings.plugin.ts
  backend/src/plugins/core/environment.plugin.ts
  backend/src/plugins/credit/credit.plugin.ts
  backend/src/plugins/inventory/fractional-quantity.plugin.ts
  backend/src/plugins/ledger/ledger.plugin.ts
  backend/src/plugins/ml/ml-model.plugin.ts
  backend/src/plugins/notifications/notification.plugin.ts
  backend/src/plugins/pricing/price-override.plugin.ts
  backend/src/plugins/stock/stock.plugin.ts
  backend/src/plugins/subscriptions/subscription.plugin.ts
  backend/src/utils/phone.utils.ts
  docs/AUTHORIZATION_WORKFLOW.md
  docs/CHANNEL_LINKING_IMPLEMENTATION.md
  docs/PLUGIN_DEVELOPMENT.md
  docs/REGISTRATION_FIELDS.md
  frontend/src/app/core/services/registration.service.ts
  frontend/src/app/dashboard/pages/settings/components/subscription-status.component.ts
  frontend/src/app/pages/auth/signup/signup.component.css
Due: backend, frontend, combined

refactor: enhance logging across various services
  backend/src/domain/cashier/cashier-session.entity.ts
  backend/src/domain/money/money-event.entity.ts
  backend/src/domain/period/period-lock.entity.ts
  backend/src/domain/recon/reconciliation.entity.ts
  backend/src/index-worker.ts
  backend/src/index.ts
  backend/src/infrastructure/sms/providers/africastalking.provider.ts
  backend/src/infrastructure/sms/providers/textsms.provider.ts
  backend/src/infrastructure/sms/sms-provider.factory.ts
  backend/src/infrastructure/sms/sms.service.ts
  backend/src/infrastructure/storage/registration-storage.service.ts
  backend/src/ledger/account.entity.ts
  backend/src/migrations/1761800000000-AddUserAuthorizationField.ts
  backend/src/migrations/1765000000002-FixLedgerSchemaDiff.ts
  backend/src/plugins/credit/credit.resolver.ts
  backend/src/plugins/ml/ml-extraction-queue.subscriber.ts
  backend/src/plugins/ml/ml-model-resolver.ts
  backend/src/plugins/pricing/custom-price-calculation.strategy.ts
  backend/src/services/auth/otp.service.ts
  backend/src/services/auth/provisioning/access-provisioner.service.ts
  backend/src/services/auth/provisioning/registration-auditor.service.ts
  backend/src/services/auth/provisioning/registration-error.service.ts
  backend/src/services/auth/provisioning/role-provisioner.service.ts
  backend/src/services/auth/registration.service.ts
  backend/src/services/ml/ml-auto-extract.service.ts
  backend/src/services/ml/ml-extraction-queue.service.ts
  backend/src/services/ml/ml-training.service.ts
  backend/src/services/notifications/notification-handler.service.ts
  backend/src/services/notifications/push-notification.service.ts
  backend/src/utils/phone.utils.ts
  docs/AUTHORIZATION_WORKFLOW.md
  docs/CHANNEL_LINKING_IMPLEMENTATION.md
  docs/REGISTRATION_FIELDS.md
  frontend/src/app/core/services/registration.service.ts
  frontend/src/app/dashboard/pages/settings/components/subscription-status.component.ts
  frontend/src/app/pages/auth/signup/signup.component.css
Due: backend, frontend, combined

refactor: integrate FinancialService into CreditService and SupplierCreditService
  backend/spec/plugins/credit.service.spec.ts
  backend/src/plugins/stock/stock.plugin.ts
  backend/src/services/credit/credit.service.ts
  backend/src/services/credit/supplier-credit.service.ts
  backend/src/services/financial/financial.service.ts
  backend/src/services/financial/ledger-query.service.ts
  backend/src/services/orders/order-payment.service.ts
  backend/src/services/payments/payment-allocation.service.ts
  backend/src/services/payments/supplier-payment-allocation.service.ts
  backend/src/services/stock/purchase.service.ts
  backend/src/vendure-config.ts
Due: backend, combined

feat: add ledger functionality and related GraphQL queries
  backend/spec/plugins/credit.service.spec.ts
  backend/src/migrations/1766000700000-AddChannelApprovalField.ts
  backend/src/plugins/ledger/ledger-viewer.resolver.ts
  backend/src/plugins/ledger/ledger-viewer.schema.ts
  backend/src/plugins/ledger/ledger.plugin.ts
  backend/src/vendure-config.ts
  frontend/src/app/app.routes.ts
  frontend/src/app/core/graphql/generated/gql.ts
  frontend/src/app/core/graphql/generated/graphql.ts
  frontend/src/app/core/graphql/operations.graphql.ts
  frontend/src/app/core/services/ledger/ledger.service.ts
  frontend/src/app/dashboard/layout/dashboard-layout.component.ts
  frontend/src/app/dashboard/pages/ledger/components/ledger-filters.component.html
  frontend/src/app/dashboard/pages/ledger/components/ledger-filters.component.scss
  frontend/src/app/dashboard/pages/ledger/components/ledger-filters.component.ts
  frontend/src/app/dashboard/pages/ledger/components/ledger-stats.component.html
  frontend/src/app/dashboard/pages/ledger/components/ledger-stats.component.scss
  frontend/src/app/dashboard/pages/ledger/components/ledger-stats.component.ts
  frontend/src/app/dashboard/pages/ledger/components/transaction-detail-modal.component.html
  frontend/src/app/dashboard/pages/ledger/components/transaction-detail-modal.component.scss
  frontend/src/app/dashboard/pages/ledger/components/transaction-detail-modal.component.ts
  frontend/src/app/dashboard/pages/ledger/ledger.component.html
  frontend/src/app/dashboard/pages/ledger/ledger.component.scss
  frontend/src/app/dashboard/pages/ledger/ledger.component.ts
Due: backend, frontend, combined

refactor: modularize ledger component structure
  frontend/src/app/dashboard/pages/ledger/components/accounts-tab.component.html
  frontend/src/app/dashboard/pages/ledger/components/accounts-tab.component.scss
  frontend/src/app/dashboard/pages/ledger/components/accounts-tab.component.ts
  frontend/src/app/dashboard/pages/ledger/components/ledger-tabs.component.html
  frontend/src/app/dashboard/pages/ledger/components/ledger-tabs.component.scss
  frontend/src/app/dashboard/pages/ledger/components/ledger-tabs.component.ts
  frontend/src/app/dashboard/pages/ledger/components/overview-tab.component.html
  frontend/src/app/dashboard/pages/ledger/components/overview-tab.component.scss
  frontend/src/app/dashboard/pages/ledger/components/overview-tab.component.ts
  frontend/src/app/dashboard/pages/ledger/components/reconciliation-tab.component.html
  frontend/src/app/dashboard/pages/ledger/components/reconciliation-tab.component.scss
  frontend/src/app/dashboard/pages/ledger/components/reconciliation-tab.component.ts
  frontend/src/app/dashboard/pages/ledger/components/transactions-tab.component.html
  frontend/src/app/dashboard/pages/ledger/components/transactions-tab.component.scss
  frontend/src/app/dashboard/pages/ledger/components/transactions-tab.component.ts
  frontend/src/app/dashboard/pages/ledger/ledger.component.html
  frontend/src/app/dashboard/pages/ledger/ledger.component.ts
Due: frontend, combined

feat: implement channel status management and access control
  backend/src/domain/channel-custom-fields.ts
  backend/src/migrations/1766000700000-AddChannelApprovalField.ts
  backend/src/plugins/auth/phone-auth.plugin.ts
  backend/src/services/auth/channel-access-guard.service.ts
  backend/src/services/auth/phone-auth.service.ts
  backend/src/services/auth/provisioning/channel-provisioner.service.ts
  backend/src/vendure-config.ts
  docs/AUTHORIZATION_WORKFLOW.md
  docs/CHANNEL_STATUS_AUTH.md
Due: backend, combined

signoz integration plan
  .cursor/plans/signoz-observability-integration-81de56d0.plan.md
Due: none

refactor: streamline payment handler integration and enhance ledger services
  backend/src/ledger/posting.service.ts
  backend/src/plugins/credit/credit.plugin.ts
  backend/src/services/financial/financial.service.ts
  backend/src/services/financial/ledger-posting.service.ts
  backend/src/services/financial/ledger-query.service.ts
  backend/src/services/orders/order-creation.service.ts
  backend/src/services/orders/order-fulfillment.service.ts
  backend/src/services/payments/payment-handlers.ts
  backend/src/services/stock/stock-movement.service.ts
  backend/src/services/stock/stock-query.service.ts
  backend/src/vendure-config.ts
  frontend/src/app/dashboard/pages/product-create/components/service-sku-editor.component.ts
  frontend/src/app/dashboard/pages/product-create/components/sku-list-editor.component.ts
Due: backend, frontend, combined

feat: implement two-stage product creation flow with enhanced variant management
  backend/src/ledger/posting.service.ts
  frontend/src/app/core/services/product.service.ts
  frontend/src/app/core/services/product/product-api.service.ts
  frontend/src/app/core/services/product/product-variant.service.ts
  frontend/src/app/dashboard/pages/product-create/components/how-sold-selector.component.ts
  frontend/src/app/dashboard/pages/product-create/components/identification-selector.component.ts
  frontend/src/app/dashboard/pages/product-create/components/item-type-selector.component.ts
  frontend/src/app/dashboard/pages/product-create/components/measurement-unit-selector.component.ts
  frontend/src/app/dashboard/pages/product-create/components/photo-manager.component.ts
  frontend/src/app/dashboard/pages/product-create/components/product-type-selector.component.ts
  frontend/src/app/dashboard/pages/product-create/components/sku-list-editor.component.ts
  frontend/src/app/dashboard/pages/product-create/components/submit-bar.component.ts
  frontend/src/app/dashboard/pages/product-create/components/variant-dimension-editor.component.ts
  frontend/src/app/dashboard/pages/product-create/product-create.component.html
  frontend/src/app/dashboard/pages/product-create/product-create.component.ts
  frontend/src/app/dashboard/pages/product-create/types/product-creation.types.ts
  frontend/src/app/dashboard/pages/product-edit/product-edit.component.html
  frontend/src/app/dashboard/pages/product-edit/product-edit.component.ts
Due: backend, frontend, combined

feat: integrate SigNoz observability for enhanced monitoring and tracing
  .cursor/plans/signoz-observability-integration-81de56d0.plan.md
  ARCHITECTURE.md
  backend/package-lock.json
  backend/package.json
  backend/src/index-worker.ts
  backend/src/index.ts
  backend/src/infrastructure/config/environment.config.ts
  backend/src/infrastructure/observability/logging.service.ts
  backend/src/infrastructure/observability/metrics.service.ts
  backend/src/infrastructure/observability/observability.module.ts
  backend/src/infrastructure/observability/telemetry.init.ts
  backend/src/infrastructure/observability/tracing.service.ts
  backend/src/services/auth/registration.service.ts
  backend/src/services/financial/ledger-posting.service.ts
  backend/src/services/ml/ml-extraction-queue.service.ts
  backend/src/services/orders/order-creation.service.ts
  docker-compose.yml
  docs/INFRASTRUCTURE.md
  docs/OBSERVABILITY.md
  docs/OBSERVABILITY_OPERATIONS.md
  docs/OBSERVABILITY_SECURITY.md
  frontend/README.md
  frontend/docker-entrypoint.sh
  frontend/nginx.conf
  frontend/package-lock.json
  frontend/package.json
  frontend/proxy.conf.json
  frontend/src/app/app.config.ts
  frontend/src/app/core/services/apollo.service.ts
  frontend/src/app/core/services/tracing.service.ts
  frontend/src/environments/environment.prod.ts
  frontend/src/environments/environment.ts
Due: backend, frontend, combined

feat: enhance stock adjustment functionality with new components and GraphQL integration
  backend/src/services/stock/stock-movement.service.ts
  frontend/angular.json
  frontend/src/app/core/graphql/generated/gql.ts
  frontend/src/app/core/graphql/generated/graphql.ts
  frontend/src/app/core/graphql/operations.graphql.ts
  frontend/src/app/core/services/stock-adjustment.service.ts
  frontend/src/app/dashboard/pages/purchase-create/components/purchase-line-item-form.component.ts
  frontend/src/app/dashboard/pages/stock-adjustments/components/stock-adjustment-form-fields.component.ts
  frontend/src/app/dashboard/pages/stock-adjustments/components/stock-adjustment-line-item-form.component.ts
  frontend/src/app/dashboard/pages/stock-adjustments/components/stock-adjustment-line-items-table.component.ts
  frontend/src/app/dashboard/pages/stock-adjustments/stock-adjustments.component.html
  frontend/src/app/dashboard/pages/stock-adjustments/stock-adjustments.component.ts
Due: backend, frontend, combined

feat: enhance SigNoz observability integration in Docker configuration
  frontend/docker-entrypoint.sh
  frontend/nginx.conf
Due: none

feat: add comprehensive customer features documentation
  docs/customer-features/FEATURE_CATALOG.md
  docs/customer-features/analytics-and-ledger.md
  docs/customer-features/auth-and-access.md
  docs/customer-features/customers-and-onboarding.md
  docs/customer-features/integrations-and-automation.md
  docs/customer-features/inventory-and-stock.md
  docs/customer-features/ml-and-intelligence.md
  docs/customer-features/orders-and-billing.md
Due: none

dependency fix
  backend/src/domain/channel-custom-fields.ts
  backend/src/services/auth/channel-access-guard.service.ts
  backend/src/services/auth/phone-auth.service.ts
Due: backend, combined

Homepage redesign
  frontend/src/app/app.routes.ts
  frontend/src/app/core/layout/navbar/navbar.component.html
  frontend/src/app/pages/features/features.component.html
  frontend/src/app/pages/features/features.component.scss
  frontend/src/app/pages/features/features.component.ts
  frontend/src/app/pages/home/home.component.html
  frontend/src/app/pages/home/home.component.scss
  frontend/src/app/pages/home/home.component.ts
Due: frontend, combined

docker fix
  docker-compose.yml
Due: none

frontend CI fix and pages linking and creation
  frontend/angular.json
  frontend/src/app/app.routes.ts
  frontend/src/app/core/services/app-init.service.ts
  frontend/src/app/core/services/ml-model.loader.ts
  frontend/src/app/core/services/ml-model.service.ts
  frontend/src/app/dashboard/pages/sell/components/product-scanner.component.ts
  frontend/src/app/pages/about/about.component.html
  frontend/src/app/pages/about/about.component.scss
  frontend/src/app/pages/about/about.component.ts
  frontend/src/app/pages/contact/contact.component.html
  frontend/src/app/pages/contact/contact.component.scss
  frontend/src/app/pages/contact/contact.component.ts
  frontend/src/app/pages/home/home.component.html
  frontend/src/app/pages/home/home.component.ts
  frontend/src/app/pages/privacy/privacy.component.html
  frontend/src/app/pages/privacy/privacy.component.scss
  frontend/src/app/pages/privacy/privacy.component.ts
  frontend/src/app/pages/support/support.component.html
  frontend/src/app/pages/support/support.component.scss
  frontend/src/app/pages/support/support.component.ts
  frontend/src/app/pages/terms/terms.component.html
  frontend/src/app/pages/terms/terms.component.scss
  frontend/src/app/pages/terms/terms.component.ts
Due: frontend, combined

maurembo
  frontend/src/app/pages/features/features.component.html
  frontend/src/app/pages/features/features.component.ts
  frontend/src/app/pages/home/home.component.html
  frontend/src/app/pages/home/home.component.ts
Due: frontend, combined

feat: revise OtpTokenAuthStrategy with unit tests
  backend/spec/plugins/otp-token-auth.strategy.spec.ts
  backend/src/index.ts
  backend/src/infrastructure/observability/telemetry.init.ts
  backend/src/plugins/auth/otp-token-auth.strategy.ts
  backend/src/plugins/auth/phone-auth.plugin.ts
Due: backend, combined

feat: update homepage with business examples and improved layout
  frontend/src/app/pages/home/home.component.html
  frontend/src/app/pages/home/home.component.ts
Due: frontend, combined

cleanup
  frontend/src/app/pages/home/home.component.html
Due: frontend, combined

feat: enhance audit logging with IP address capture
  backend/package-lock.json
  backend/package.json
  backend/src/infrastructure/audit/README.md
  backend/src/infrastructure/audit/audit-db.connection.ts
  backend/src/infrastructure/audit/audit-log.entity.ts
  backend/src/infrastructure/audit/audit.service.ts
  backend/src/plugins/audit/audit.resolver.ts
Due: backend, combined
