Repository kisinga/Dukahub: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, combined

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 15%
        threshold: 5%
    patch:
      default:
        target: 10%
        threshold: 5%

flags:
  backend:
    paths:
      - backend/src/
    carryforward: true
  frontend:
    paths:
      - frontend/src/
    carryforward: true
  combined:
    paths:
      - backend/src/
      - frontend/src/
    carryforward: true

comment:
  layout: "header,diff,files,footer"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  hide_project_coverage: false
  hide_comment: false

github_checks:
  annotations: true

cleanup migrations
  backend/src/migrations/1000000000-AddPriceOverrideFields.ts
  backend/src/migrations/1000000001-AddProductVariantFields.ts
  backend/src/migrations/1000000002-AddChannelMlTrainingFields.ts
  backend/src/migrations/1000000003-AddChannelCashierFields.ts
  backend/src/migrations/1000000004-AddChannelEventTrackingFields.ts
  backend/src/migrations/1000000005-AddChannelSubscriptionFields.ts
  backend/src/migrations/1000000006-AddChannelApprovalField.ts
  backend/src/migrations/1000000007-AddChannelAssetRelationships.ts
  backend/src/migrations/2000000000-AddCustomerSupplierFields.ts
  backend/src/migrations/2000000001-AddCustomerCreditFields.ts
  backend/src/migrations/2000000002-AddSupplierCreditFields.ts
  backend/src/migrations/3000000000-AddUserAuthorizationFields.ts
  backend/src/migrations/4000000000-CreateAuditLogTable.ts
  backend/src/migrations/5000000000-CreateNotificationEntity.ts
  backend/src/migrations/6000000000-CreateMlExtractionQueue.ts
  backend/src/migrations/7000000000-CreatePurchaseAndStockAdjustmentTables.ts
  backend/src/migrations/7000000001-AlignStockConstraints.ts
  backend/src/migrations/8000000000-CreateLedgerTables.ts
  backend/src/migrations/8000000001-SetupChartOfAccounts.ts
  backend/src/migrations/8000000002-CreatePurchasePaymentTable.ts
  backend/src/migrations/8000000003-AddLedgerIndexes.ts
  backend/src/migrations/MIGRATION_GUIDELINES.md
Due: backend, combined

migrations cleanup
  backend/src/migrations/1000000000000-AddPriceOverrideFields.ts
  backend/src/migrations/1000000000001-AddProductVariantFields.ts
  backend/src/migrations/1000000000002-AddChannelMlTrainingFields.ts
  backend/src/migrations/1000000000003-AddChannelCashierFields.ts
  backend/src/migrations/1000000000004-AddChannelEventTrackingFields.ts
  backend/src/migrations/1000000000005-AddChannelSubscriptionFields.ts
  backend/src/migrations/1000000000006-AddChannelApprovalField.ts
  backend/src/migrations/1000000000007-AddChannelAssetRelationships.ts
  backend/src/migrations/2000000000000-AddCustomerSupplierFields.ts
  backend/src/migrations/2000000000001-AddCustomerCreditFields.ts
  backend/src/migrations/2000000000002-AddSupplierCreditFields.ts
  backend/src/migrations/3000000000000-AddUserAuthorizationFields.ts
  backend/src/migrations/4000000000000-CreateAuditLogTable.ts
  backend/src/migrations/5000000000000-CreateNotificationEntity.ts
  backend/src/migrations/6000000000000-CreateMlExtractionQueue.ts
  backend/src/migrations/7000000000000-CreatePurchaseAndStockAdjustmentTables.ts
  backend/src/migrations/7000000000001-AlignStockConstraints.ts
  backend/src/migrations/8000000000000-CreateLedgerTables.ts
  backend/src/migrations/8000000000001-SetupChartOfAccounts.ts
  backend/src/migrations/8000000000002-CreatePurchasePaymentTable.ts
  backend/src/migrations/8000000000003-AddLedgerIndexes.ts
Due: backend, combined

fix: normalize line endings
  .gitattributes
Due: none

refactor: implement automatic database detection and initialization
  backend/Dockerfile
  backend/docker-entrypoint.sh
  backend/package.json
  backend/src/entrypoint.ts
  backend/src/services/notifications/push-notification.service.ts
  backend/src/utils/database-detection.ts
  docker-compose.yml
  docs/INFRASTRUCTURE.md
Due: backend, combined

bug fixes
  .editorconfig
  .gitattributes
  .vscode/settings.json
  backend/scripts/rollback-stocklocation-migration.sql
  backend/src/plugins/credit/supplier-credit.permissions.ts
  backend/src/plugins/credit/supplier-credit.resolver.ts
  backend/src/plugins/credit/supplier-credit.schema.ts
  backend/src/plugins/credit/supplier-payment-allocation.resolver.ts
  backend/src/plugins/stock/permissions.ts
  backend/src/plugins/stock/stock.types.ts
  backend/src/services/payments/payment-allocation-base.types.ts
  backend/src/services/stock/purchase-credit-validator.service.ts
  backend/src/services/stock/stock-validation.service.ts
  docker-compose.yml
  frontend/src/app/core/guards/stock-adjustment.guard.ts
  frontend/src/app/core/services/payments/partial-payment.service.ts
  frontend/src/app/dashboard/pages/customers/components/bulk-payment-modal.component.scss
  frontend/src/app/dashboard/pages/customers/components/customer-view-modal.component.html
  frontend/src/app/dashboard/pages/customers/components/customer-view-modal.component.scss
  frontend/src/app/dashboard/pages/customers/components/customer-view-modal.component.ts
  frontend/src/app/dashboard/pages/orders/order-detail/order-detail.types.ts
  frontend/src/app/dashboard/pages/settings/components/audit-trail-filter.component.ts
  frontend/src/app/dashboard/pages/stock-adjustments/stock-adjustments.component.scss
  frontend/src/app/dashboard/pages/suppliers/components/supplier-view-modal.component.html
  frontend/src/app/dashboard/pages/suppliers/components/supplier-view-modal.component.scss
  frontend/src/app/dashboard/pages/suppliers/components/supplier-view-modal.component.ts
  frontend/src/app/pages/about/about.component.html
  frontend/src/app/pages/about/about.component.scss
  frontend/src/app/pages/about/about.component.ts
  frontend/src/app/pages/contact/contact.component.ts
  frontend/src/app/pages/privacy/privacy.component.html
  frontend/src/app/pages/privacy/privacy.component.scss
  frontend/src/app/pages/privacy/privacy.component.ts
  frontend/src/app/pages/support/support.component.html
  frontend/src/app/pages/support/support.component.scss
  frontend/src/app/pages/support/support.component.ts
  frontend/src/app/pages/terms/terms.component.html
  frontend/src/app/pages/terms/terms.component.scss
  frontend/src/app/pages/terms/terms.component.ts
Due: backend, frontend, combined

minor fixes
  backend/src/entrypoint.ts
  backend/src/infrastructure/config/environment.config.ts
  backend/src/utils/database-detection.ts
  docker-compose.yml
Due: backend, combined

cleanup
  backend/scripts/rollback-stocklocation-migration.sql
  backend/src/plugins/credit/supplier-credit.permissions.ts
  backend/src/plugins/credit/supplier-credit.resolver.ts
  backend/src/plugins/credit/supplier-credit.schema.ts
  backend/src/plugins/credit/supplier-payment-allocation.resolver.ts
  backend/src/plugins/stock/permissions.ts
  backend/src/plugins/stock/stock.types.ts
  backend/src/services/payments/payment-allocation-base.types.ts
  backend/src/services/stock/purchase-credit-validator.service.ts
  backend/src/services/stock/stock-validation.service.ts
  frontend/src/app/core/guards/stock-adjustment.guard.ts
  frontend/src/app/core/services/payments/partial-payment.service.ts
  frontend/src/app/dashboard/pages/customers/components/bulk-payment-modal.component.scss
  frontend/src/app/dashboard/pages/customers/components/customer-view-modal.component.html
  frontend/src/app/dashboard/pages/customers/components/customer-view-modal.component.scss
  frontend/src/app/dashboard/pages/customers/components/customer-view-modal.component.ts
  frontend/src/app/dashboard/pages/orders/order-detail/order-detail.types.ts
  frontend/src/app/dashboard/pages/settings/components/audit-trail-filter.component.ts
  frontend/src/app/dashboard/pages/stock-adjustments/stock-adjustments.component.scss
  frontend/src/app/dashboard/pages/suppliers/components/supplier-view-modal.component.html
  frontend/src/app/dashboard/pages/suppliers/components/supplier-view-modal.component.scss
  frontend/src/app/dashboard/pages/suppliers/components/supplier-view-modal.component.ts
  frontend/src/app/pages/about/about.component.html
  frontend/src/app/pages/about/about.component.scss
  frontend/src/app/pages/about/about.component.ts
  frontend/src/app/pages/contact/contact.component.ts
  frontend/src/app/pages/privacy/privacy.component.html
  frontend/src/app/pages/privacy/privacy.component.scss
  frontend/src/app/pages/privacy/privacy.component.ts
  frontend/src/app/pages/support/support.component.html
  frontend/src/app/pages/support/support.component.scss
  frontend/src/app/pages/support/support.component.ts
  frontend/src/app/pages/terms/terms.component.html
  frontend/src/app/pages/terms/terms.component.scss
  frontend/src/app/pages/terms/terms.component.ts
Due: backend, frontend, combined

formating
  backend/src/plugins/credit/supplier-credit.permissions.ts
  backend/src/plugins/credit/supplier-credit.resolver.ts
  backend/src/plugins/credit/supplier-credit.schema.ts
  backend/src/plugins/credit/supplier-payment-allocation.resolver.ts
  backend/src/plugins/stock/permissions.ts
  backend/src/plugins/stock/stock.types.ts
  backend/src/services/payments/payment-allocation-base.types.ts
  backend/src/services/stock/purchase-credit-validator.service.ts
  backend/src/services/stock/stock-validation.service.ts
  frontend/src/app/core/guards/stock-adjustment.guard.ts
  frontend/src/app/core/services/payments/partial-payment.service.ts
  frontend/src/app/dashboard/pages/customers/components/bulk-payment-modal.component.scss
  frontend/src/app/dashboard/pages/customers/components/customer-view-modal.component.html
  frontend/src/app/dashboard/pages/customers/components/customer-view-modal.component.scss
  frontend/src/app/dashboard/pages/customers/components/customer-view-modal.component.ts
  frontend/src/app/dashboard/pages/orders/order-detail/order-detail.types.ts
  frontend/src/app/dashboard/pages/settings/components/audit-trail-filter.component.ts
  frontend/src/app/dashboard/pages/stock-adjustments/stock-adjustments.component.scss
  frontend/src/app/dashboard/pages/suppliers/components/supplier-view-modal.component.html
  frontend/src/app/dashboard/pages/suppliers/components/supplier-view-modal.component.scss
  frontend/src/app/dashboard/pages/suppliers/components/supplier-view-modal.component.ts
  frontend/src/app/pages/about/about.component.html
  frontend/src/app/pages/about/about.component.scss
  frontend/src/app/pages/about/about.component.ts
  frontend/src/app/pages/contact/contact.component.ts
  frontend/src/app/pages/privacy/privacy.component.html
  frontend/src/app/pages/privacy/privacy.component.scss
  frontend/src/app/pages/privacy/privacy.component.ts
  frontend/src/app/pages/support/support.component.html
  frontend/src/app/pages/support/support.component.scss
  frontend/src/app/pages/support/support.component.ts
  frontend/src/app/pages/terms/terms.component.html
  frontend/src/app/pages/terms/terms.component.scss
  frontend/src/app/pages/terms/terms.component.ts
Due: backend, frontend, combined

minor initial setup fixes
  backend/src/plugins/ml/ml-extraction-queue.subscriber.ts
  backend/src/populate.ts
Due: backend, combined

formatting
  backend/src/plugins/credit/supplier-credit.permissions.ts
  backend/src/plugins/credit/supplier-credit.resolver.ts
  backend/src/plugins/credit/supplier-credit.schema.ts
  backend/src/plugins/credit/supplier-payment-allocation.resolver.ts
  backend/src/plugins/stock/permissions.ts
  backend/src/plugins/stock/stock.types.ts
  backend/src/services/payments/payment-allocation-base.types.ts
  backend/src/services/stock/purchase-credit-validator.service.ts
  backend/src/services/stock/stock-validation.service.ts
  frontend/src/app/core/guards/stock-adjustment.guard.ts
  frontend/src/app/core/services/payments/partial-payment.service.ts
  frontend/src/app/dashboard/pages/customers/components/bulk-payment-modal.component.scss
  frontend/src/app/dashboard/pages/customers/components/customer-view-modal.component.html
  frontend/src/app/dashboard/pages/customers/components/customer-view-modal.component.scss
  frontend/src/app/dashboard/pages/customers/components/customer-view-modal.component.ts
  frontend/src/app/dashboard/pages/orders/order-detail/order-detail.types.ts
  frontend/src/app/dashboard/pages/settings/components/audit-trail-filter.component.ts
  frontend/src/app/dashboard/pages/stock-adjustments/stock-adjustments.component.scss
  frontend/src/app/dashboard/pages/suppliers/components/supplier-view-modal.component.html
  frontend/src/app/dashboard/pages/suppliers/components/supplier-view-modal.component.scss
  frontend/src/app/dashboard/pages/suppliers/components/supplier-view-modal.component.ts
  frontend/src/app/pages/about/about.component.html
  frontend/src/app/pages/about/about.component.scss
  frontend/src/app/pages/about/about.component.ts
  frontend/src/app/pages/contact/contact.component.ts
  frontend/src/app/pages/privacy/privacy.component.html
  frontend/src/app/pages/privacy/privacy.component.scss
  frontend/src/app/pages/privacy/privacy.component.ts
  frontend/src/app/pages/support/support.component.html
  frontend/src/app/pages/support/support.component.scss
  frontend/src/app/pages/support/support.component.ts
  frontend/src/app/pages/terms/terms.component.html
  frontend/src/app/pages/terms/terms.component.scss
  frontend/src/app/pages/terms/terms.component.ts
Due: backend, frontend, combined

Tests fix
  frontend/src/app/app.spec.ts
Due: frontend, combined

change image dest
  .github/workflows/build-and-push.yml
Due: none

stablize
  .github/workflows/test.yml
  .lintstagedrc.json
  dev.sh
  frontend/README.md
  frontend/karma.conf.js
  frontend/scripts/set-chrome-bin.js
  frontend/src/app/core/graphql/generated/gql.ts
  frontend/src/app/core/graphql/generated/graphql.ts
  frontend/src/app/pages/privacy/privacy.component.html
  frontend/src/app/pages/terms/terms.component.html
  package-lock.json
  package.json
Due: frontend, combined

tests stabilize
  .github/workflows/test.yml
  frontend/README.md
  frontend/karma.conf.js
  frontend/package.json
Due: none

tests fix
  frontend/karma.conf.js
Due: none

fixes
  .github/workflows/test.yml
  docker-compose.yml
  frontend/README.md
  frontend/karma.conf.js
  frontend/package.json
  frontend/src/app/pages/privacy/privacy.component.html
  frontend/src/app/pages/terms/terms.component.html
Due: frontend, combined

frontend tests fix, again
  frontend/README.md
  frontend/angular.json
  frontend/karma.conf.js
  frontend/package.json
  frontend/scripts/set-chrome-bin.js
Due: none

ml extraction bug fixes
  backend/src/plugins/ml/ml-extraction-queue.subscriber.ts
  backend/src/services/ml/ml-extraction-queue.service.ts
  docker-compose.yml
Due: backend, combined

removed populate
  backend/package.json
  backend/src/entrypoint.ts
  backend/src/populate.ts
Due: backend, combined

formatting
  frontend/src/app/pages/privacy/privacy.component.html
  frontend/src/app/pages/terms/terms.component.html
Due: frontend, combined

format
  frontend/src/app/pages/privacy/privacy.component.html
  frontend/src/app/pages/terms/terms.component.html
Due: frontend, combined

backend fixes
  backend/jest.config.js
  backend/spec/plugins/otp-token-auth.strategy.spec.ts
  backend/src/entrypoint.ts
  backend/src/plugins/auth/otp-token-auth.strategy.ts
  backend/src/plugins/auth/phone-auth.plugin.ts
  backend/src/utils/database-detection.ts
Due: backend, combined

fresh setup fixes
  backend/README.md
  backend/src/entrypoint.ts
  backend/src/index-worker.ts
  backend/src/index.ts
  backend/src/infrastructure/config/environment.config.ts
  backend/src/migrations/7000000000000-CreatePurchaseAndStockAdjustmentTables.ts
  backend/src/utils/bootstrap-init.ts
Due: backend, combined

first run fixes
  backend/src/infrastructure/events/channel-event-router.service.ts
  backend/src/infrastructure/events/config/event-metadata.json
  backend/src/infrastructure/events/config/event-metadata.ts
  backend/src/infrastructure/events/notification-preference.service.ts
  backend/src/migrations/9000000000000-CleanupLegacyConstraints.ts
Due: backend, combined

tests fix
  backend/spec/helpers/setup-env-vars.ts
Due: none

tests fix
  backend/jest.config.js
  backend/spec/helpers/setup-test-env.ts
Due: none

forced consistency
  docker-compose.yml
Due: none

Add integration tests for registration flow, including seller creation, channel configuration, and stock location linking
  backend/spec/services/auth/registration-flow.integration.spec.ts
  backend/spec/services/auth/registration.service.spec.ts
  backend/src/plugins/auth/phone-auth.plugin.ts
  backend/src/services/auth/provisioning/channel-assignment.service.ts
  backend/src/services/auth/provisioning/channel-provisioner.service.ts
  backend/src/services/auth/provisioning/registration-validator.service.ts
  backend/src/services/auth/provisioning/seller-provisioner.service.ts
  backend/src/services/auth/registration.service.ts
  docs/REGISTRATION_CHANNEL_SETUP.md
Due: backend, combined

registration tests
  backend/spec/services/auth/provisioning/channel-assignment.service.spec.ts
  backend/spec/services/auth/provisioning/role-provisioner.service.spec.ts
  backend/src/services/auth/provisioning/channel-assignment.service.ts
  backend/src/services/auth/provisioning/role-provisioner.service.ts
Due: backend, combined

standardise backend db mocking, ml-extraction tests and fixes
  backend/spec/helpers/database-mock.ts
  backend/spec/helpers/migration-test-setup.ts
  backend/spec/integration/critical-integration.spec.ts
  backend/spec/services/ml/ml-extraction-queue.service.spec.ts
  backend/spec/support/README.md
  backend/spec/support/mock-db.ts
  backend/src/services/ml/ml-extraction-queue.service.ts
Due: backend, combined

clean up notifications
  backend/src/migrations/5000000000001-CreatePushSubscriptionEntity.ts
  backend/src/plugins/notifications/notification.plugin.ts
  backend/src/services/notifications/notification.service.ts
  backend/src/services/notifications/push-notification.service.ts
  docs/NOTIFICATION_SYSTEM.md
  frontend/docker-entrypoint.sh
  frontend/src/app/core/services/notification.service.ts
  frontend/src/app/dashboard/pages/settings/components/notification-settings.component.ts
  frontend/src/environments/environment.prod.ts
  frontend/src/environments/environment.ts
Due: backend, frontend, combined

add email field validation during registration
  backend/spec/services/auth/phone-auth.service.spec.ts
  backend/src/infrastructure/events/channel-event-router.service.ts
  backend/src/plugins/channels/channel-events.plugin.ts
  backend/src/plugins/notifications/notification.plugin.ts
  backend/src/services/auth/channel-user.service.ts
  backend/src/services/auth/phone-auth.service.ts
  backend/src/services/auth/provisioning/access-provisioner.service.ts
  backend/src/services/auth/provisioning/registration-validator.service.ts
  backend/src/services/notifications/notification.service.ts
  frontend/src/app/pages/auth/signup/signup.component.ts
Due: backend, frontend, combined

tests fix
  frontend/src/app/core/services/notification.service.ts
Due: frontend, combined

notification fix
  frontend/src/app/core/services/notification.service.ts
Due: frontend, combined

homepage and notifications cleanup
  frontend/src/app/core/layout/navbar/navbar.component.html
  frontend/src/app/core/services/notification.service.ts
  frontend/src/app/dashboard/layout/dashboard-layout.component.ts
  frontend/src/app/pages/features/features.component.html
  frontend/src/app/pages/features/features.component.ts
  frontend/src/app/pages/home/home.component.html
  frontend/src/app/pages/home/home.component.ts
Due: frontend, combined
