Repository kisinga/Dukahub: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, combined

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 15%
        threshold: 5%
    patch:
      default:
        target: 10%
        threshold: 5%

flags:
  backend:
    paths:
      - backend/src/
    carryforward: true
  frontend:
    paths:
      - frontend/src/
    carryforward: true
  combined:
    paths:
      - backend/src/
      - frontend/src/
    carryforward: true

comment:
  layout: "header,diff,files,footer"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  hide_project_coverage: false
  hide_comment: false

github_checks:
  annotations: true

added context-aware setup for kenya inc tax zones and rates
  backend/docs/FRESH_SETUP_REQUIREMENTS.md
  backend/spec/services/auth/registration-flow.integration.spec.ts
  backend/spec/services/auth/registration.service.spec.ts
  backend/src/migrations/9000000000001-SeedKenyaContext.ts
  backend/src/services/auth/provisioning/channel-provisioner.service.ts
  backend/src/services/auth/provisioning/registration-validator.service.ts
  backend/src/services/auth/registration.service.ts
Due: backend, combined

Enhance database detection logic to check for all critical Vendure core tables, treating the database as empty if any are missing. Improved error handling and logging for partial database states.
  backend/src/utils/database-detection.ts
Due: backend, combined

Enhance Vendure bootstrap process by adding a wait for database schema changes and implementing retry logic for verifying core tables. Improved error reporting for missing tables after bootstrap.
  backend/src/utils/bootstrap-init.ts
Due: backend, combined

split services fron infrastructure
  README.md
  docker-compose.services.yml
  docker-compose.yml
Due: none

fixed kenya seeding logic, cleanup
  .cursor/plans/fix-country-table-bootstrap-issue-f5828716.plan.md
  .env.example
  README.md
  backend/docs/FRESH_SETUP_REQUIREMENTS.md
  backend/src/migrations/9000000000001-SeedKenyaContext.ts
  backend/src/utils/bootstrap-init.ts
  backend/src/utils/database-detection.ts
  backend/src/utils/kenya-context.seed.ts
  docker-compose.yml
  docs/GENERAL_TROUBLESHOOTING.md
  docs/INFRASTRUCTURE.md
Due: backend, combined

bug fixes
  .env.example
  backend/src/index.ts
  backend/src/infrastructure/config/environment.config.ts
  backend/src/plugins/auth/phone-auth.plugin.ts
  backend/src/services/auth/phone-auth.service.ts
  backend/src/services/auth/registration.service.ts
  backend/src/services/ml/ml-extraction-queue.service.ts
  backend/src/utils/financial-bootstrap.ts
  backend/src/utils/kenya-context.seed.ts
  docs/INFRASTRUCTURE.md
Due: backend, combined

Provisioning hardening
  .cursor/plans/fix-country-table-bootstrap-issue-f5828716.plan.md
  ARCHITECTURE.md
  backend/docs/FRESH_SETUP_REQUIREMENTS.md
  backend/spec/services/auth/provisioning/channel-assignment.service.spec.ts
  backend/spec/services/auth/provisioning/provisioning-harness.ts
  backend/spec/services/auth/provisioning/refactor-verification.spec.ts
  backend/spec/services/auth/provisioning/role-provisioner-forbidden-error.spec.ts
  backend/spec/services/auth/provisioning/role-provisioner.service.spec.ts
  backend/spec/services/auth/provisioning/stock-location-assignment-verification.spec.ts
  backend/spec/services/auth/registration-flow.integration.spec.ts
  backend/spec/services/auth/registration.service.spec.ts
  backend/spec/services/auth/store-provisioner.service.spec.ts
  backend/spec/services/provisioning/context-adapter.service.spec.ts
  backend/spec/utils/entity-relation.util.spec.ts
  backend/src/infrastructure/audit/audit.service.ts
  backend/src/infrastructure/sms/sms.service.ts
  backend/src/plugins/auth/phone-auth.plugin.ts
  backend/src/services/auth/channel-access-guard.service.ts
  backend/src/services/auth/phone-auth.service.ts
  backend/src/services/auth/provisioning/access-provisioner.service.ts
  backend/src/services/auth/provisioning/channel-assignment.service.ts
  backend/src/services/auth/provisioning/channel-provisioner.service.ts
  backend/src/services/auth/provisioning/registration-auditor.service.ts
  backend/src/services/auth/provisioning/registration-validator.service.ts
  backend/src/services/auth/provisioning/role-provisioner.service.ts
  backend/src/services/auth/provisioning/seller-provisioner.service.ts
  backend/src/services/auth/provisioning/store-provisioner.service.ts
  backend/src/services/financial/chart-of-accounts.service.ts
  backend/src/services/provisioning/context-adapter.service.ts
  backend/src/services/provisioning/hybrid-entity-provisioner.service.ts
  backend/src/utils/channel-access.util.ts
  backend/src/utils/entity-relation.util.ts
  backend/src/utils/request-context.util.ts
  backend/src/utils/seller-access.util.ts
  docs/INFRASTRUCTURE.md
  docs/INFRASTRUCTURE_PATTERNS.md
  docs/PROVISIONING_PRINCIPLES.md
  docs/REGISTRATION_CHANNEL_SETUP.md
  docs/SERVER_RESILIENCE_BASELINE.md
  docs/VENDURE.md
Due: backend, combined

Add inventory framework with FIFO costing and COGS calculation
  backend/spec/services/inventory/default-expiry.policy.spec.ts
  backend/spec/services/inventory/fifo-costing.strategy.spec.ts
  backend/spec/services/inventory/inventory-store.service.spec.ts
  backend/spec/services/inventory/inventory.service.spec.ts
  backend/spec/services/inventory/posting-policy.spec.ts
  backend/src/ledger/account-codes.constants.ts
  backend/src/migrations/7100000000000-CreateInventoryBatchAndMovementTables.ts
  backend/src/services/financial/chart-of-accounts.service.ts
  backend/src/services/financial/ledger-posting.service.ts
  backend/src/services/financial/posting-policy.ts
  backend/src/services/inventory/entities/inventory-batch.entity.ts
  backend/src/services/inventory/entities/inventory-movement.entity.ts
  backend/src/services/inventory/interfaces/costing-strategy.interface.ts
  backend/src/services/inventory/interfaces/expiry-policy.interface.ts
  backend/src/services/inventory/interfaces/inventory-store.interface.ts
  backend/src/services/inventory/inventory-configuration.service.ts
  backend/src/services/inventory/inventory-reconciliation.service.ts
  backend/src/services/inventory/inventory-store.service.ts
  backend/src/services/inventory/inventory.service.ts
  backend/src/services/inventory/policies/default-expiry.policy.ts
  backend/src/services/inventory/strategies/fifo-costing.strategy.ts
  backend/src/services/stock/stock-management.service.ts
  docs/INVENTORY_FRAMEWORK.md
  docs/LEDGER_ARCHITECTURE.md
Due: backend, combined

Bug fixes
  backend/spec/services/auth/phone-auth.service.spec.ts
  backend/spec/services/auth/provisioning/channel-assignment.service.spec.ts
  backend/spec/services/auth/provisioning/role-provisioner-forbidden-error.spec.ts
  backend/spec/services/auth/provisioning/role-provisioner.service.spec.ts
  backend/spec/support/mock-db.ts
  backend/spec/utils/entity-relation.util.spec.ts
  backend/src/services/provisioning/context-adapter.service.ts
Due: backend, combined

Enhance barcode scanner component with compact mode and improved state management
  frontend/src/app/dashboard/pages/product-create/components/barcode-scanner.component.ts
  frontend/src/app/dashboard/pages/product-create/components/identification-selector.component.ts
  frontend/src/app/dashboard/pages/sell/components/product-scanner.component.ts
Due: frontend, combined

standardized environment loading
  .cursor/plans/fifo-27eed676.plan.md
  .cursor/plans/period-closing-and-opening-with-reconciliation-enforcement-0ea228d7.plan.md
  .cursor/plans/period-closing-with-multi-scope-reconciliation-f63b60cf.plan.md
  backend/src/entrypoint.ts
  backend/src/environment.d.ts
  backend/src/infrastructure/config/environment.config.ts
  backend/src/infrastructure/sms/providers/africastalking.provider.ts
  backend/src/infrastructure/sms/providers/textsms.provider.ts
  backend/src/infrastructure/sms/sms-provider.factory.ts
  backend/src/infrastructure/sms/sms.service.ts
  backend/src/plugins/ledger/permissions.ts
  backend/src/services/auth/otp.service.ts
  backend/src/utils/database-detection.ts
  backend/src/vendure-config.ts
Due: backend, combined

planning
  .cursor/plans/fix-auth-flow-to-allow-read-only-login-f6fce943.plan.md
  .cursor/plans/period-closing-refined-implementation-ee726f0e.plan.md
  .cursor/plans/period-closing-with-multi-scope-reconciliation-f63b60cf.plan.md
  .cursor/plans/subscription-integration-plan-6526cb1a.plan.md
Due: none

Implement hierarchical account structure and period management features
  .cursor/plans/fix-auth-flow-to-allow-read-only-login-f6fce943.plan.md
  .cursor/plans/period-closing-refined-implementation-ee726f0e.plan.md
  backend/spec/services/financial/account-balance.service.spec.ts
  backend/spec/services/financial/period-end-closing.service.spec.ts
  backend/spec/services/financial/period-lock.service.spec.ts
  backend/spec/services/financial/reconciliation.service.spec.ts
  backend/src/domain/period/accounting-period.entity.ts
  backend/src/domain/recon/reconciliation.entity.ts
  backend/src/ledger/account-codes.constants.ts
  backend/src/ledger/account.entity.ts
  backend/src/ledger/posting.service.ts
  backend/src/migrations/3000000000000-AddUserAuthorizationFields.ts
  backend/src/migrations/7000000000000-CreatePurchaseAndStockAdjustmentTables.ts
  backend/src/migrations/8000000000001-SetupChartOfAccounts.ts
  backend/src/migrations/8000000000004-AddAccountHierarchy.ts
  backend/src/migrations/8000000000005-MigrateAccountsToHierarchy.ts
  backend/src/migrations/8000000000006-EnhanceReconciliation.ts
  backend/src/migrations/8000000000007-CreateAccountingPeriod.ts
  backend/src/migrations/9000000000000-CleanupLegacyConstraints.ts
  backend/src/plugins/ledger/ledger-viewer.schema.ts
  backend/src/plugins/ledger/ledger.plugin.ts
  backend/src/plugins/ledger/period-management.resolver.ts
  backend/src/plugins/ledger/period-management.schema.ts
  backend/src/services/financial/account-balance.service.ts
  backend/src/services/financial/chart-of-accounts.service.ts
  backend/src/services/financial/inventory-reconciliation.service.ts
  backend/src/services/financial/ledger-query.service.ts
  backend/src/services/financial/period-end-closing.service.ts
  backend/src/services/financial/period-lock.service.ts
  backend/src/services/financial/period-management.types.ts
  backend/src/services/financial/reconciliation-validator.service.ts
  backend/src/services/financial/reconciliation.service.ts
Due: backend, combined

registration flow hardening
  .cursor/plans/period-closing-implementation-4f98c3cd.plan.md
  backend/spec/services/auth/registration-flow.integration.spec.ts
  backend/spec/services/auth/registration.service.spec.ts
  backend/spec/services/auth/store-provisioner.service.spec.ts
  backend/spec/services/financial/account-balance.service.spec.ts
  backend/spec/services/financial/channel-isolation.spec.ts
  backend/spec/services/financial/chart-of-accounts.integration.spec.ts
  backend/spec/utils/entity-relation.util.spec.ts
  backend/src/services/auth/provisioning/channel-provisioner.service.ts
  backend/src/services/auth/provisioning/store-provisioner.service.ts
  backend/src/services/auth/registration.service.ts
  backend/src/services/financial/account-balance.service.ts
  backend/src/services/financial/chart-of-accounts.service.ts
  backend/src/utils/entity-relation.util.ts
  backend/src/utils/financial-bootstrap.ts
  docs/INFRASTRUCTURE.md
  frontend/src/app/core/services/apollo.service.ts
  frontend/src/app/core/services/company.service.ts
  frontend/src/app/dashboard/pages/product-create/components/barcode-scanner.component.ts
  frontend/src/app/pages/auth/signup/signup.component.html
Due: backend, frontend, combined

frontend fixes
  frontend/nginx.conf
  frontend/src/app/core/services/notification.service.ts
  frontend/src/app/dashboard/pages/product-create/components/barcode-scanner.component.ts
Due: frontend, combined

allowed newly created admins to have admin access
  backend/src/services/auth/provisioning/role-provisioner.service.ts
Due: backend, combined

heavy focus on barcode scanning
  frontend/src/app/core/services/barcode-scanner.service.ts
  frontend/src/app/core/services/camera.service.ts
  frontend/src/app/dashboard/pages/product-create/components/barcode-scanner.component.ts
  frontend/src/app/dashboard/pages/sell/components/product-scanner.component.ts
Due: frontend, combined

deployment cleanup
  docker-compose.services.yml
  docs/INFRASTRUCTURE.md
Due: none

notifications update
  frontend/src/app/app.config.ts
  frontend/src/app/core/services/apollo.service.ts
  frontend/src/app/core/services/notification.service.ts
  frontend/src/app/core/services/notification/notification-polling.service.ts
  frontend/src/app/core/services/notification/notification-push.service.ts
  frontend/src/app/core/services/notification/notification-state.service.ts
Due: frontend, combined

signoz fizes
  docker-compose.services.yml
Due: none

planning
  .cursor/plans/cashier-session-reconciliation-2b832a71.plan.md
  .cursor/plans/company-admins-feature-58b484d0.plan.md
  .cursor/plans/paystack-87e1655c.plan.md
  .cursor/plans/period-closing-implementation-4f98c3cd.plan.md
  .cursor/plans/subscription-integration-plan-6526cb1a.plan.md
Due: none

observability fixes
  docker-compose.services.yml
  docker-compose.yml
  docs/INFRASTRUCTURE.md
Due: none

cashier flow integration
  backend/src/migrations/8000000000008-AddCashierSessionMetaIndex.ts
  backend/src/plugins/ledger/ledger.plugin.ts
  backend/src/plugins/ledger/period-management.resolver.ts
  backend/src/plugins/ledger/period-management.schema.ts
  backend/src/services/financial/cashier-session.service.ts
  backend/src/services/financial/ledger-query.service.ts
  backend/src/services/financial/posting-policy.ts
  backend/src/services/financial/reconciliation-validator.service.ts
  frontend/src/app/core/graphql/operations.graphql.ts
  frontend/src/app/core/services/cashier-session/cashier-session.service.ts
Due: backend, frontend, combined

Add cash control features including cash counts, M-Pesa verifications, and reconciliation requirements
  backend/spec/services/financial/cashier-session-reconciliation.spec.ts
  backend/spec/services/financial/payment-method-reconciliation.spec.ts
  backend/src/domain/cashier/cash-drawer-count.entity.ts
  backend/src/domain/cashier/mpesa-verification.entity.ts
  backend/src/migrations/8000000000009-AddCashControlTables.ts
  backend/src/migrations/8000000000010-PaymentMethodReconciliationFields.ts
  backend/src/plugins/ledger/ledger.plugin.ts
  backend/src/plugins/ledger/period-management.resolver.ts
  backend/src/plugins/ledger/period-management.schema.ts
  backend/src/plugins/notifications/notification.resolver.ts
  backend/src/services/auth/provisioning/payment-provisioner.service.ts
  backend/src/services/financial/cashier-session.service.ts
  backend/src/services/financial/payment-method-mapping.config.ts
  backend/src/services/financial/posting-policy.ts
  backend/src/services/financial/reconciliation-validator.service.ts
  backend/src/services/notifications/notification.service.ts
  backend/src/vendure-config.ts
  docs/PAYMENT_METHOD_RECONCILIATION.md
  frontend/src/app/core/graphql/operations.graphql.ts
  frontend/src/app/core/services/cashier-session/cash-control.service.ts
Due: backend, frontend, combined

slight cleanup
  frontend/src/app/pages/home/home.component.html
  frontend/src/app/pages/home/home.component.ts
Due: frontend, combined

signoz setup clenaup
  docker-compose.services.yml
  docs/INFRASTRUCTURE.md
  scripts/setup-signoz.sh
Due: none

transfer of work
  .cursor/plans/company-admins-implementation-status.md
  .cursor/plans/company-admins-quick-start.md
  backend/src/migrations/1000000000008-AddChannelMaxAdminCount.ts
  backend/src/plugins/channels/channel-settings.resolver.ts
  backend/src/services/auth/provisioning/role-provisioner.service.ts
  backend/src/services/channels/channel-settings.service.ts
  backend/src/vendure-config.ts
  frontend/src/app/app.routes.ts
  frontend/src/app/core/graphql/operations.graphql.ts
  frontend/src/app/core/services/team.service.ts
  frontend/src/app/dashboard/layout/dashboard-layout.component.ts
  frontend/src/app/dashboard/pages/team/components/create-admin-modal.component.html
  frontend/src/app/dashboard/pages/team/components/create-admin-modal.component.scss
  frontend/src/app/dashboard/pages/team/components/create-admin-modal.component.ts
  frontend/src/app/dashboard/pages/team/components/permission-editor.component.html
  frontend/src/app/dashboard/pages/team/components/permission-editor.component.scss
  frontend/src/app/dashboard/pages/team/components/permission-editor.component.ts
  frontend/src/app/dashboard/pages/team/components/team-member-row.component.ts
  frontend/src/app/dashboard/pages/team/team.component.html
  frontend/src/app/dashboard/pages/team/team.component.scss
  frontend/src/app/dashboard/pages/team/team.component.ts
Due: backend, frontend, combined

dukarun rename
  .cursor/plans/company-admins-implementation-status.md
  .github/workflows/README.md
  backend/backend-test.log
  backend/backend.log
  docs/PAYMENT_METHOD_RECONCILIATION.md
  frontend/src/app/core/layout/footer/footer.component.html
  frontend/src/app/core/layout/navbar/navbar.component.html
  frontend/src/app/core/services/cache.service.ts
  frontend/src/app/core/services/ml-model.service.ts
  frontend/src/app/core/services/tracing.service.ts
  frontend/src/app/dashboard/layout/dashboard-layout.component.html
  frontend/src/app/dashboard/pages/customer-create/customer-create.component.ts
  frontend/src/app/dashboard/pages/supplier-create/supplier-create.component.ts
  frontend/src/app/pages/about/about.component.html
  frontend/src/app/pages/auth/login/login.component.html
  frontend/src/app/pages/auth/signup/signup.component.html
  frontend/src/app/pages/contact/contact.component.html
  frontend/src/app/pages/features/features.component.html
  frontend/src/app/pages/features/features.component.ts
  frontend/src/app/pages/home/home.component.ts
  frontend/src/app/pages/privacy/privacy.component.html
  frontend/src/app/pages/support/support.component.html
  frontend/src/app/pages/support/support.component.ts
  frontend/src/app/pages/terms/terms.component.html
  frontend/src/styles.scss
  frontend/src/styles/_design-system.scss
  package-lock.json
  package.json
Due: frontend, combined

temporarily remove signoz, planned for later
  docker-compose.services.yml
  scripts/setup-signoz.sh
Due: none

subscription integration
  .cursor/plans/cashier-session-reconciliation-2b832a71.plan.md
  .cursor/plans/paystack-87e1655c.plan.md
  backend/spec/services/subscriptions/subscription-flow.spec.ts
  backend/src/infrastructure/events/channel-action-tracking.service.ts
  backend/src/infrastructure/events/channel-event-router.service.ts
  backend/src/infrastructure/events/config/event-metadata.ts
  backend/src/infrastructure/events/handlers/in-app-action.handler.ts
  backend/src/infrastructure/events/types/event-type.enum.ts
  backend/src/plugins/subscriptions/subscription-expiry.subscriber.ts
  backend/src/plugins/subscriptions/subscription.plugin.ts
  backend/src/services/auth/provisioning/channel-provisioner.service.ts
  backend/src/services/subscriptions/subscription.service.ts
  docs/SUBSCRIPTION_CHECK_POINTS.md
  frontend/src/app/core/services/subscription.service.ts
  frontend/src/app/dashboard/layout/dashboard-layout.component.html
  frontend/src/app/dashboard/layout/dashboard-layout.component.ts
Due: backend, frontend, combined

documentation
  docs/INFRASTRUCTURE.md
  docs/SUBSCRIPTION_INTEGRATION.md
Due: none

bug fixes
  .github/workflows/build-and-push.yml
  backend/spec/services/subscriptions/subscription-flow.spec.ts
  frontend/src/app/core/graphql/notification.types.ts
Due: frontend, combined

tests fix
  backend/spec/services/subscriptions/subscription-flow.spec.ts
Due: none

db fix
  backend/src/migrations/8000000000011-AddChannelCashControlFields.ts
Due: backend, combined

Add subscription tier management functionality
  backend/src/plugins/subscriptions/subscription.plugin.ts
  backend/src/plugins/subscriptions/subscription.resolver.ts
  backend/src/services/subscriptions/subscription.service.ts
  backend/tsconfig.json
Due: backend, combined

bug fix
  frontend/src/app/core/services/subscription.service.ts
Due: frontend, combined

make cookies long lived
  frontend/src/app/core/services/auth/auth-login.service.ts
Due: frontend, combined

subscription fixes
  docs/subscription_tiers.gql.md
  frontend/src/app/core/graphql/generated/graphql.ts
  frontend/src/app/core/services/subscription.service.ts
Due: frontend, combined

add scanning beep
  frontend/src/app/core/utils/beep.utils.ts
  frontend/src/app/dashboard/pages/sell/components/product-scanner.component.ts
Due: frontend, combined
