Repository kisinga/Dukahub: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, combined

Enhance subscription management documentation and update Vendure configuration
  backend/VENDURE_CUSTOM_FIELDS.md
  backend/src/vendure-config.ts
Due: backend, combined

bug fix
  backend/src/vendure-config.ts
Due: backend, combined

fixed registration logic
  backend/src/plugins/registration.service.ts
  docker-compose.yml
Due: backend, combined

fix tets
  backend/spec/utils/phone.utils.spec.ts
  frontend/src/app/dashboard/layout/dashboard-layout.component.spec.ts
Due: frontend, combined

frontend deploy fix
  frontend/Dockerfile
Due: none

migrations fix
  backend/src/migrations/1761900000000-AddSubscriptionFields.ts
  backend/src/migrations/1761900000001-RenameSubscriptionTierColumn.ts
Due: backend, combined

Enhance migration for subscription tier normalization
  backend/src/migrations/1761900000002-NormalizeSubscriptionTierColumn.ts
Due: backend, combined

settings changes
  .gitignore
  backend/src/plugins/channel-settings.resolver.ts
  backend/src/plugins/channel-settings.service.ts
  frontend/src/app/core/graphql/generated/gql.ts
  frontend/src/app/core/graphql/generated/graphql.ts
  frontend/src/app/core/graphql/operations.graphql.ts
  frontend/src/app/core/services/settings.service.ts
  frontend/src/app/dashboard/pages/settings/components/admin-management.component.ts
  frontend/src/app/dashboard/pages/settings/components/general-settings.component.ts
  frontend/src/app/dashboard/pages/settings/components/payment-methods.component.ts
Due: backend, frontend, combined

settings plan update
  plans/credit.md
Due: none

fixed admin auth
  backend/src/plugins/otp-token-auth.strategy.ts
  backend/src/plugins/phone-auth.plugin.ts
Due: backend, combined

Enhance notification testing functionality
  backend/src/plugins/notification-test.controller.ts
  frontend/proxy.conf.json
  frontend/src/app/dashboard/pages/settings/components/notification-test.component.ts
Due: backend, frontend, combined

Add credit management features
  backend/CUSTOMER_SUPPLIER_INTEGRATION.md
  backend/VENDURE_CUSTOM_FIELDS.md
  backend/spec/plugins/credit.service.spec.ts
  backend/src/migrations/1762200000000-AddCustomerCreditFields.ts
  backend/src/migrations/1762210000000-AddCustomerCreditRepaymentFields.ts
  backend/src/plugins/channel-settings.service.ts
  backend/src/plugins/credit/credit-payment.subscriber.ts
  backend/src/plugins/credit/credit.plugin.ts
  backend/src/plugins/credit/credit.resolver.ts
  backend/src/plugins/credit/credit.schema.ts
  backend/src/plugins/credit/credit.service.ts
  backend/src/plugins/credit/permissions.ts
  backend/src/plugins/payment-handlers.ts
  backend/src/vendure-config.ts
  frontend/src/app/app.routes.ts
  frontend/src/app/core/graphql/generated/gql.ts
  frontend/src/app/core/graphql/generated/graphql.ts
  frontend/src/app/core/graphql/operations.graphql.ts
  frontend/src/app/core/guards/credit.guard.ts
  frontend/src/app/core/services/auth.service.ts
  frontend/src/app/core/services/customer.service.ts
  frontend/src/app/dashboard/layout/dashboard-layout.component.ts
  frontend/src/app/dashboard/pages/credit/credit.component.ts
  frontend/src/app/dashboard/pages/customer-edit/customer-edit.component.ts
  frontend/src/app/dashboard/pages/customers/components/customer-card.component.html
  frontend/src/app/dashboard/pages/customers/components/customer-card.component.ts
  frontend/src/app/dashboard/pages/customers/components/customer-stats.component.html
  frontend/src/app/dashboard/pages/customers/components/customer-stats.component.ts
  frontend/src/app/dashboard/pages/customers/components/customer-table-row.component.html
  frontend/src/app/dashboard/pages/customers/components/customer-table-row.component.ts
  frontend/src/app/dashboard/pages/customers/customers.component.html
  frontend/src/app/dashboard/pages/customers/customers.component.ts
  frontend/src/app/dashboard/pages/sell/components/checkout-modal.component.ts
  frontend/src/app/dashboard/pages/sell/components/customer-selector.component.ts
  frontend/src/app/dashboard/pages/sell/sell.component.ts
Due: backend, frontend, combined

Revamp Home Page Layout and Content
  frontend/src/app/pages/home/home.component.html
  frontend/src/app/pages/home/home.component.scss
  frontend/src/app/pages/home/home.component.ts
Due: frontend, combined

tests fix
  backend/src/migrations/1762210000000-AddCustomerCreditRepaymentFields.ts
  frontend/src/app/dashboard/pages/settings/components/notification-test.component.ts
Due: backend, frontend, combined

Add channel events and tracking features
  backend/src/migrations/1763000000000-AddChannelEventTrackingFields.ts
  backend/src/migrations/1763100000000-RenameChannelEventColumnsToCamelCase.ts
  backend/src/migrations/1763200000000-FixActionTrackingResetTypeColumn.ts
  backend/src/plugins/channel-events/channel-action-tracking.service.ts
  backend/src/plugins/channel-events/channel-communication.service.ts
  backend/src/plugins/channel-events/channel-communication.subscriber.ts
  backend/src/plugins/channel-events/channel-event-router.service.ts
  backend/src/plugins/channel-events/channel-events.plugin.ts
  backend/src/plugins/channel-events/channel-sms.service.ts
  backend/src/plugins/channel-events/config/event-metadata.json
  backend/src/plugins/channel-events/handlers/action-handler.interface.ts
  backend/src/plugins/channel-events/handlers/in-app-action.handler.ts
  backend/src/plugins/channel-events/handlers/push-action.handler.ts
  backend/src/plugins/channel-events/handlers/sms-action.handler.ts
  backend/src/plugins/channel-events/notification-preference.service.ts
  backend/src/plugins/channel-events/types/action-category.enum.ts
  backend/src/plugins/channel-events/types/action-type.enum.ts
  backend/src/plugins/channel-events/types/channel-event.interface.ts
  backend/src/plugins/channel-events/types/event-type.enum.ts
  backend/src/plugins/credit/credit.resolver.ts
  backend/src/plugins/credit/credit.service.ts
  backend/src/plugins/ml-training.service.ts
  backend/src/plugins/notification-handler.service.ts
  backend/src/plugins/otp.service.ts
  backend/src/plugins/phone-auth.service.ts
  backend/src/plugins/registration.service.ts
  backend/src/vendure-config.ts
Due: backend, combined

remove implemented plan docs
  plans/credit.md
  plans/settings.md
Due: none

Refactor ML Extraction Services and Introduce Event-Driven Processing
  backend/src/plugins/channel-events/channel-action-tracking.service.ts
  backend/src/plugins/channel-events/config/event-metadata.json
  backend/src/plugins/channel-events/handlers/in-app-action.handler.ts
  backend/src/plugins/channel-events/handlers/push-action.handler.ts
  backend/src/plugins/channel-events/types/event-type.enum.ts
  backend/src/plugins/ml-auto-extract.service.ts
  backend/src/plugins/ml-extraction-queue.service.ts
  backend/src/plugins/ml-extraction-queue.subscriber.ts
  backend/src/plugins/ml-model.plugin.ts
  backend/src/plugins/ml-training.service.ts
Due: backend, combined

cleanup
  backend/src/plugins/channel-settings.resolver.spec.ts.bak
  backend/src/plugins/subscriptions/subscription.resolver.ts
Due: backend, combined

Update Nginx configuration for improved backend handling
  frontend/nginx.conf
Due: none

Enhance error handling in ChannelEventRouterService and NotificationHandlerService
  backend/src/infrastructure/events/channel-event-router.service.ts
  backend/src/migrations/1762210000000-AddCustomerCreditRepaymentFields.ts
  backend/src/services/notifications/notification-handler.service.ts
Due: backend, combined

Add Audit Logging System with TimescaleDB Integration
  backend/src/infrastructure/audit/README.md
  backend/src/infrastructure/audit/audit-db.config.ts
  backend/src/infrastructure/audit/audit-db.connection.ts
  backend/src/infrastructure/audit/audit-log.entity.ts
  backend/src/infrastructure/audit/audit.service.ts
  backend/src/infrastructure/audit/audit.types.ts
  backend/src/infrastructure/audit/index.ts
  backend/src/infrastructure/audit/user-context.resolver.ts
  backend/src/infrastructure/audit/vendure-events.subscriber.ts
  backend/src/infrastructure/events/channel-event-router.service.ts
  backend/src/migrations/1762210000000-AddCustomerCreditRepaymentFields.ts
  backend/src/plugins/audit/audit.plugin.ts
  backend/src/plugins/audit/audit.resolver.ts
  backend/src/plugins/channels/channel-events.plugin.ts
  backend/src/plugins/channels/channel-settings.plugin.ts
  backend/src/services/auth/registration.service.ts
  backend/src/services/channels/channel-settings.service.ts
  backend/src/services/credit/credit.service.ts
  backend/src/services/orders/order-creation.service.ts
  backend/src/services/payments/payment-handlers.ts
  backend/src/vendure-config.ts
  docker-compose.dev.yml
  docker-compose.yml
Due: backend, combined

faliling tests fix
  backend/src/services/auth/registration.service.ts
  backend/src/services/orders/order-creation.service.ts
Due: backend, combined

Add Audit Log Query and Service Integration
  backend/src/services/orders/order-creation.service.ts
  frontend/src/app/core/graphql/generated/gql.ts
  frontend/src/app/core/graphql/generated/graphql.ts
  frontend/src/app/core/graphql/operations.graphql.ts
  frontend/src/app/core/services/settings.service.ts
  frontend/src/app/dashboard/pages/settings/components/audit-trail.component.ts
  frontend/src/app/dashboard/pages/settings/settings.component.ts
Due: backend, frontend, combined

Integrate Environment Configuration and Audit Enhancements
  backend/src/index-worker.ts
  backend/src/index.ts
  backend/src/infrastructure/audit/audit-db.config.ts
  backend/src/infrastructure/audit/audit-db.connection.ts
  backend/src/infrastructure/audit/audit-log.entity.ts
  backend/src/infrastructure/audit/audit.service.ts
  backend/src/infrastructure/audit/vendure-events.subscriber.ts
  backend/src/infrastructure/config/environment.config.ts
  backend/src/migrations/1763047440205-AddAuditUserTrackingFields.ts
  backend/src/migrations/1764000000000-DropOldAuditLog.ts
  backend/src/migrations/1764000050000-DropFixRelationalCustomFields.ts
  backend/src/migrations/1764000100000-CreateAuditLogTable.ts
  backend/src/migrations/1764000200000-AddAuditCreatedAtFields.ts
  backend/src/plugins/audit/audit.plugin.ts
  backend/src/plugins/audit/audit.resolver.ts
  backend/src/plugins/channels/channel-events.plugin.ts
  backend/src/plugins/channels/channel-settings.plugin.ts
  backend/src/plugins/core/environment.plugin.ts
  backend/src/vendure-config.ts
  docs/CUSTOMER_PROVISIONING.md
  docs/CUSTOMER_SUPPLIER_INTEGRATION.md
  docs/INFRASTRUCTURE.md
  docs/INFRASTRUCTURE_PATTERNS.md
  docs/ML_TRAINING_SETUP.md
  docs/NOTIFICATION_SYSTEM.md
  docs/SUBSCRIPTION_INTEGRATION.md
  docs/VENDURE.md
  docs/VENDURE_CUSTOM_FIELDS.md
  frontend/src/app/core/services/settings.service.ts
  frontend/src/app/dashboard/pages/settings/components/audit-trail.component.ts
Due: backend, frontend, combined

Enhance Audit Trail Component with User Details Modal
  frontend/src/app/dashboard/pages/settings/components/audit-trail.component.ts
  frontend/src/app/dashboard/pages/settings/components/user-details-modal.component.ts
Due: frontend, combined

Improve migrations
  backend/src/migrations/1760540000002-FixMlTrainingFieldsConstraints.ts
  backend/src/migrations/1760710000000-CleanAssetRelationshipsFinal.js
  backend/src/migrations/1760800000000-AddWholesaleFractionalFields.ts
  backend/src/migrations/1760820000000-RemoveQuantityUnitField.ts
Due: backend, combined

bug fix
  frontend/src/app/core/services/settings.service.ts
Due: frontend, combined

Add network status monitoring and offline mode styles
  backend/src/migrations/1762210000000-AddCustomerCreditRepaymentFields.ts
  frontend/src/app/app.config.ts
  frontend/src/app/app.scss
  frontend/src/app/app.ts
  frontend/src/app/core/index.ts
  frontend/src/app/core/services/network.service.ts
  frontend/src/app/dashboard/layout/dashboard-layout.component.html
  frontend/src/app/dashboard/layout/dashboard-layout.component.ts
Due: backend, frontend, combined

Add Order Management and Print Template Services
  frontend/src/app/app.config.ts
  frontend/src/app/app.ts
  frontend/src/app/core/graphql/operations.graphql.ts
  frontend/src/app/core/services/network.service.ts
  frontend/src/app/core/services/orders.service.ts
  frontend/src/app/core/services/print-templates.ts
  frontend/src/app/core/services/print.service.ts
  frontend/src/app/dashboard/layout/dashboard-layout.component.html
  frontend/src/app/dashboard/layout/dashboard-layout.component.ts
Due: frontend, combined

Implement Order Management Features and Print Styles
  frontend/src/app/app.routes.ts
  frontend/src/app/core/graphql/generated/gql.ts
  frontend/src/app/core/graphql/generated/graphql.ts
  frontend/src/app/core/graphql/operations.graphql.ts
  frontend/src/app/core/services/orders.service.ts
  frontend/src/app/core/services/print-templates.ts
  frontend/src/app/core/services/print.service.ts
  frontend/src/app/dashboard/pages/orders/components/order-card.component.ts
  frontend/src/app/dashboard/pages/orders/components/order-search-bar.component.ts
  frontend/src/app/dashboard/pages/orders/components/order-state-badge.component.ts
  frontend/src/app/dashboard/pages/orders/components/order-stats.component.ts
  frontend/src/app/dashboard/pages/orders/components/order-table-row.component.ts
  frontend/src/app/dashboard/pages/orders/order-detail/order-detail.component.html
  frontend/src/app/dashboard/pages/orders/order-detail/order-detail.component.scss
  frontend/src/app/dashboard/pages/orders/order-detail/order-detail.component.ts
  frontend/src/app/dashboard/pages/orders/orders.component.html
  frontend/src/app/dashboard/pages/orders/orders.component.scss
  frontend/src/app/dashboard/pages/orders/orders.component.ts
  frontend/src/app/dashboard/pages/settings/components/audit-trail.component.ts
  frontend/src/styles.scss
Due: frontend, combined

Add Payments Management Features
  frontend/src/app/app.routes.ts
  frontend/src/app/core/graphql/generated/gql.ts
  frontend/src/app/core/graphql/generated/graphql.ts
  frontend/src/app/core/graphql/operations.graphql.ts
  frontend/src/app/core/services/payments.service.ts
  frontend/src/app/dashboard/pages/orders/order-detail/order-detail.component.ts
  frontend/src/app/dashboard/pages/payments/components/payment-card.component.ts
  frontend/src/app/dashboard/pages/payments/components/payment-search-bar.component.ts
  frontend/src/app/dashboard/pages/payments/components/payment-state-badge.component.ts
  frontend/src/app/dashboard/pages/payments/components/payment-stats.component.ts
  frontend/src/app/dashboard/pages/payments/components/payment-table-row.component.ts
  frontend/src/app/dashboard/pages/payments/payment-detail/payment-detail.component.html
  frontend/src/app/dashboard/pages/payments/payment-detail/payment-detail.component.scss
  frontend/src/app/dashboard/pages/payments/payment-detail/payment-detail.component.ts
  frontend/src/app/dashboard/pages/payments/payments.component.html
  frontend/src/app/dashboard/pages/payments/payments.component.scss
  frontend/src/app/dashboard/pages/payments/payments.component.ts
  frontend/src/app/dashboard/pages/settings/components/audit-trail.component.ts
Due: frontend, combined

Add Administrator Query and Enhance Print Service
  frontend/src/app/core/graphql/generated/gql.ts
  frontend/src/app/core/graphql/generated/graphql.ts
  frontend/src/app/core/graphql/operations.graphql.ts
  frontend/src/app/core/services/print.service.ts
  frontend/src/app/core/services/users.service.ts
  frontend/src/app/dashboard/layout/dashboard-layout.component.ts
  frontend/src/app/dashboard/pages/orders/components/order-card.component.ts
  frontend/src/app/dashboard/pages/orders/components/order-search-bar.component.ts
  frontend/src/app/dashboard/pages/orders/components/order-stats.component.ts
  frontend/src/app/dashboard/pages/orders/order-detail/components/order-address.component.ts
  frontend/src/app/dashboard/pages/orders/order-detail/components/order-customer-info.component.ts
  frontend/src/app/dashboard/pages/orders/order-detail/components/order-detail-header.component.ts
  frontend/src/app/dashboard/pages/orders/order-detail/components/order-fulfillment-info.component.ts
  frontend/src/app/dashboard/pages/orders/order-detail/components/order-items-table.component.ts
  frontend/src/app/dashboard/pages/orders/order-detail/components/order-payment-info.component.ts
  frontend/src/app/dashboard/pages/orders/order-detail/components/order-totals.component.ts
  frontend/src/app/dashboard/pages/orders/order-detail/order-detail.component.html
  frontend/src/app/dashboard/pages/orders/order-detail/order-detail.component.ts
  frontend/src/app/dashboard/pages/orders/order-detail/order-detail.types.ts
  frontend/src/app/dashboard/pages/orders/orders.component.html
  frontend/src/app/dashboard/pages/orders/orders.component.ts
  frontend/src/app/dashboard/pages/payments/components/payment-card.component.ts
  frontend/src/app/dashboard/pages/payments/components/payment-search-bar.component.ts
  frontend/src/app/dashboard/pages/payments/components/payment-stats.component.ts
  frontend/src/app/dashboard/pages/payments/components/payment-table-row.component.ts
  frontend/src/app/dashboard/pages/payments/payments.component.html
  frontend/src/app/dashboard/pages/settings/components/user-details-modal.component.ts
Due: frontend, combined

Refactor Order Detail Component and Enhance UI
  backend/src/migrations/1762210000000-AddCustomerCreditRepaymentFields.ts
  frontend/src/app/dashboard/pages/orders/order-detail/components/order-address.component.ts
  frontend/src/app/dashboard/pages/orders/order-detail/components/order-customer-info.component.ts
  frontend/src/app/dashboard/pages/orders/order-detail/components/order-detail-header.component.ts
  frontend/src/app/dashboard/pages/orders/order-detail/components/order-items-table.component.ts
  frontend/src/app/dashboard/pages/orders/order-detail/components/order-totals.component.ts
  frontend/src/app/dashboard/pages/orders/order-detail/order-detail.component.html
  frontend/src/app/dashboard/pages/orders/order-detail/order-detail.component.ts
  frontend/src/app/dashboard/pages/orders/order-detail/order-detail.types.ts
  frontend/src/app/dashboard/pages/payments/components/payment-search-bar.component.ts
  frontend/src/app/dashboard/pages/payments/components/payment-table-row.component.ts
  frontend/src/app/dashboard/pages/payments/payments.component.html
  frontend/src/app/dashboard/pages/payments/payments.component.ts
Due: backend, frontend, combined

Refactor Credit Management and Enhance Order Creation
  backend/src/migrations/1764000300000-RemoveOutstandingAmountCustomField.ts
  backend/src/plugins/credit/credit-payment.subscriber.ts
  backend/src/plugins/credit/credit.plugin.ts
  backend/src/plugins/credit/credit.resolver.ts
  backend/src/plugins/credit/credit.schema.ts
  backend/src/plugins/credit/customer.resolver.ts
  backend/src/plugins/credit/payment-allocation.resolver.ts
  backend/src/plugins/credit/payment-allocation.schema.ts
  backend/src/services/credit/credit.service.ts
  backend/src/services/orders/order-address.service.ts
  backend/src/services/orders/order-creation.service.ts
  backend/src/services/orders/order-credit-validator.service.ts
  backend/src/services/orders/order-fulfillment.service.ts
  backend/src/services/orders/order-item.service.ts
  backend/src/services/orders/order-payment.service.ts
  backend/src/services/orders/order-state.service.ts
  backend/src/services/payments/payment-allocation.service.ts
  backend/src/services/payments/payment-handlers.ts
  backend/src/vendure-config.ts
  frontend/src/app/core/graphql/generated/gql.ts
  frontend/src/app/core/graphql/generated/graphql.ts
  frontend/src/app/core/graphql/operations.graphql.ts
  frontend/src/app/core/services/customer.service.ts
  frontend/src/app/core/services/order.service.ts
  frontend/src/app/dashboard/pages/customers/components/customer-table-row.component.ts
  frontend/src/app/dashboard/pages/sell/sell.component.ts
Due: backend, frontend, combined

Add View Orders Action to Customer Management
  frontend/src/app/dashboard/pages/customers/components/customer-card.component.html
  frontend/src/app/dashboard/pages/customers/components/customer-card.component.ts
  frontend/src/app/dashboard/pages/customers/components/customer-table-row.component.html
  frontend/src/app/dashboard/pages/customers/customers.component.ts
  frontend/src/app/dashboard/pages/orders/orders.component.ts
Due: frontend, combined

tests fix
  backend/spec/plugins/credit.service.spec.ts
Due: none

Enhance Orders Service and Component for Statistics Calculation
  frontend/src/app/core/services/orders.service.ts
  frontend/src/app/dashboard/pages/orders/orders.component.ts
Due: frontend, combined

Add Bulk Payment Functionality for Customers
  frontend/src/app/core/services/customer.service.ts
  frontend/src/app/dashboard/pages/customers/components/bulk-payment-modal.component.html
  frontend/src/app/dashboard/pages/customers/components/bulk-payment-modal.component.scss
  frontend/src/app/dashboard/pages/customers/components/bulk-payment-modal.component.ts
  frontend/src/app/dashboard/pages/customers/components/customer-card.component.html
  frontend/src/app/dashboard/pages/customers/components/customer-card.component.ts
  frontend/src/app/dashboard/pages/customers/components/customer-table-row.component.html
  frontend/src/app/dashboard/pages/customers/customers.component.html
  frontend/src/app/dashboard/pages/customers/customers.component.ts
  frontend/src/app/dashboard/pages/settings/components/user-details-modal.component.ts
  frontend/src/app/dashboard/pages/suppliers/components/supplier-card.component.html
  frontend/src/app/dashboard/pages/suppliers/components/supplier-table-row.component.html
Due: frontend, combined

Path conditions:
  backend: any of: backend/src/
  frontend: any of: frontend/src/
  combined: any of: backend/src/, frontend/src/
