Repository kisinga/Dukahub: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, combined

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 15%
        threshold: 5%
    patch:
      default:
        target: 10%
        threshold: 5%

flags:
  backend:
    paths:
      - backend/src/
    carryforward: true
  frontend:
    paths:
      - frontend/src/
    carryforward: true
  combined:
    paths:
      - backend/src/
      - frontend/src/
    carryforward: true

comment:
  layout: "header,diff,files,footer"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  hide_project_coverage: false
  hide_comment: false

github_checks:
  annotations: true

revert UI intergration with vendure admin for now
  backend/package.json
  backend/src/compile-admin-ui.ts
  backend/src/plugins/subscriptions/subscription.plugin.ts
  backend/src/plugins/subscriptions/subscription.resolver.ts
  backend/src/services/subscriptions/subscription.service.ts
  backend/src/vendure-config.ts
  backend/tsconfig.json
Due: backend, combined

payment integration working. Yezzzuuuuurrrr
  admin-ui/src/extension.routes.ts
  assets/images/image.png
  assets/logo/v1.svg
  assets/logo/v2 with text
  assets/logo/v2 with text.png
  assets/logo/v2.png
  assets/logo/v2.svg
  assets/logo/v3.png
  assets/logo/v3.svg
  assets/model_samples/metadata.json
  assets/model_samples/model.json
  assets/model_samples/weights.bin
  backend/package-lock.json
  backend/src/migrations/1000000000005-AddChannelSubscriptionFields.ts
  backend/src/plugins/subscriptions/subscription.resolver.ts
  backend/src/services/subscriptions/subscription.service.ts
  docs/SUBSCRIPTION_INTEGRATION.md
  frontend/src/app/core/graphql/generated/gql.ts
  frontend/src/app/core/graphql/generated/graphql.ts
  frontend/src/app/core/graphql/operations.graphql.ts
  frontend/src/app/core/services/subscription.service.ts
  frontend/src/app/dashboard/pages/settings/components/payment-modal.component.ts
  frontend/src/app/dashboard/pages/settings/components/subscription-status.component.ts
  frontend/src/app/dashboard/pages/settings/components/subscription-tiers.component.ts
  frontend/src/app/dashboard/pages/settings/settings.component.ts
Due: backend, frontend, combined

cleanup
  frontend/public/icons/icon-128x128.png
  frontend/public/icons/icon-144x144.png
  frontend/public/icons/icon-152x152.png
  frontend/public/icons/icon-192x192.png
  frontend/public/icons/icon-384x384.png
  frontend/public/icons/icon-512x512.png
  frontend/public/icons/icon-72x72.png
  frontend/public/icons/icon-96x96.png
Due: none

working paystack with stk push. Yeboooo
  assets/logo/v3.png
  assets/logo/v3.svg
  backend/src/services/payments/paystack.service.ts
  backend/src/services/subscriptions/subscription.service.ts
  frontend/public/apple-touch-icon.png
  frontend/public/favicon-96x96.png
  frontend/public/favicon.ico
  frontend/public/favicon.svg
  frontend/public/site.webmanifest
  frontend/public/web-app-manifest-192x192.png
  frontend/public/web-app-manifest-512x512.png
Due: backend, combined

minor ui fixes
  frontend/src/app/dashboard/layout/dashboard-layout.component.html
  frontend/src/app/dashboard/layout/dashboard-layout.component.ts
Due: frontend, combined

introduce minor accounting as a module
  backend/spec/services/subscriptions/subscription-flow.spec.ts
  backend/src/plugins/ledger/ledger-viewer.resolver.ts
  backend/src/plugins/ledger/ledger-viewer.schema.ts
  frontend/src/app/app.routes.ts
  frontend/src/app/core/graphql/operations.graphql.ts
  frontend/src/app/core/services/ledger/ledger.service.ts
  frontend/src/app/dashboard/layout/dashboard-layout.component.ts
  frontend/src/app/dashboard/pages/accounting/accounting.component.html
  frontend/src/app/dashboard/pages/accounting/accounting.component.scss
  frontend/src/app/dashboard/pages/accounting/accounting.component.ts
  frontend/src/app/dashboard/pages/accounting/components/account-card.component.html
  frontend/src/app/dashboard/pages/accounting/components/account-card.component.ts
  frontend/src/app/dashboard/pages/accounting/components/account-row.component.html
  frontend/src/app/dashboard/pages/accounting/components/account-row.component.ts
  frontend/src/app/dashboard/pages/accounting/components/accounting-filters.component.html
  frontend/src/app/dashboard/pages/accounting/components/accounting-filters.component.scss
  frontend/src/app/dashboard/pages/accounting/components/accounting-filters.component.ts
  frontend/src/app/dashboard/pages/accounting/components/accounting-stats.component.html
  frontend/src/app/dashboard/pages/accounting/components/accounting-stats.component.scss
  frontend/src/app/dashboard/pages/accounting/components/accounting-stats.component.ts
  frontend/src/app/dashboard/pages/accounting/components/accounting-tabs.component.html
  frontend/src/app/dashboard/pages/accounting/components/accounting-tabs.component.scss
  frontend/src/app/dashboard/pages/accounting/components/accounting-tabs.component.ts
  frontend/src/app/dashboard/pages/accounting/components/accounts-tab.component.html
  frontend/src/app/dashboard/pages/accounting/components/accounts-tab.component.scss
  frontend/src/app/dashboard/pages/accounting/components/accounts-tab.component.ts
  frontend/src/app/dashboard/pages/accounting/components/overview-tab.component.html
  frontend/src/app/dashboard/pages/accounting/components/overview-tab.component.scss
  frontend/src/app/dashboard/pages/accounting/components/overview-tab.component.ts
  frontend/src/app/dashboard/pages/accounting/components/reconciliation-tab.component.html
  frontend/src/app/dashboard/pages/accounting/components/reconciliation-tab.component.scss
  frontend/src/app/dashboard/pages/accounting/components/reconciliation-tab.component.ts
  frontend/src/app/dashboard/pages/accounting/components/transaction-detail-modal.component.html
  frontend/src/app/dashboard/pages/accounting/components/transaction-detail-modal.component.scss
  frontend/src/app/dashboard/pages/accounting/components/transaction-detail-modal.component.ts
  frontend/src/app/dashboard/pages/accounting/components/transactions-tab.component.html
  frontend/src/app/dashboard/pages/accounting/components/transactions-tab.component.scss
  frontend/src/app/dashboard/pages/accounting/components/transactions-tab.component.ts
  frontend/src/app/dashboard/pages/ledger/components/accounts-tab.component.html
Due: backend, frontend, combined

accounting brush clean
  frontend/src/app/core/graphql/generated/gql.ts
  frontend/src/app/core/graphql/generated/graphql.ts
  frontend/src/app/core/services/ledger/ledger.service.ts
Due: frontend, combined

team and tests fixes
  backend/spec/services/subscriptions/subscription-flow.spec.ts
  backend/src/services/auth/provisioning/role-provisioner.service.ts
  frontend/src/app/core/services/team.service.ts
Due: backend, frontend, combined

packages update
  backend/package-lock.json
  backend/package.json
  frontend/package-lock.json
Due: none

team cleanup
  backend/src/services/channels/channel-settings.service.ts
  frontend/src/app/core/services/team.service.ts
Due: backend, frontend, combined

payment refinement and cache consolidation
  backend/spec/services/subscriptions/subscription-flow.spec.ts
  backend/src/infrastructure/storage/redis-cache.service.ts
  backend/src/plugins/auth/phone-auth.plugin.ts
  backend/src/plugins/subscriptions/subscription.plugin.ts
  backend/src/plugins/subscriptions/subscription.resolver.ts
  backend/src/services/payments/paystack.service.ts
  backend/src/services/subscriptions/subscription.service.ts
  frontend/src/app/core/graphql/generated/gql.ts
  frontend/src/app/core/graphql/generated/graphql.ts
  frontend/src/app/core/graphql/operations.graphql.ts
  frontend/src/app/core/services/subscription.service.ts
  frontend/src/app/dashboard/pages/settings/components/payment-modal.component.ts
Due: backend, frontend, combined

minor UI celanup
  frontend/src/app/core/layout/footer/footer.component.scss
  frontend/src/app/core/layout/navbar/navbar.component.html
  frontend/src/app/core/layout/navbar/navbar.component.scss
  frontend/src/app/dashboard/layout/dashboard-layout.component.html
  frontend/src/app/dashboard/layout/dashboard-layout.component.scss
Due: frontend, combined

homepage enhancements
  frontend/src/app/pages/about/about.component.html
  frontend/src/app/pages/features/features.component.html
  frontend/src/app/pages/features/features.component.ts
  frontend/src/app/pages/home/home.component.html
  frontend/src/app/pages/home/home.component.ts
  frontend/src/app/pages/support/support.component.ts
Due: frontend, combined

minor fix
  backend/package.json
Due: none

minor fix follow up
  backend/package-lock.json
Due: none

prod migration fix
  backend/src/migrations/9000000000002-FixPaymentMethodFieldsAndNotificationEnum.ts
Due: backend, combined

disable signoz for now
  docker-compose.yml
  frontend/docker-entrypoint.sh
  frontend/nginx.conf
Due: none

webmanifest fixes
  frontend/nginx.conf
  frontend/src/index.html
Due: frontend, combined

user profile fixes
  backend/src/services/auth/phone-auth.service.ts
  backend/src/services/auth/provisioning/registration-validator.service.ts
  frontend/src/app/core/services/app-init.service.ts
  frontend/src/app/core/services/stock-location.service.ts
  frontend/src/app/dashboard/layout/dashboard-layout.component.ts
Due: backend, frontend, combined

beep sound
  frontend/src/app/core/services/scanner-beep.service.ts
  frontend/src/app/core/utils/beep.utils.ts
  frontend/src/app/dashboard/pages/product-create/components/barcode-scanner.component.ts
  frontend/src/app/dashboard/pages/sell/components/product-scanner.component.ts
Due: frontend, combined

bug fixes
  frontend/src/app/core/services/scanner-beep.service.ts
  frontend/src/app/core/utils/beep.utils.ts
Due: frontend, combined

duration increase
  frontend/src/app/core/utils/beep.utils.ts
Due: frontend, combined

beep duration
  frontend/src/app/core/utils/beep.utils.ts
Due: frontend, combined

beep fixes
  frontend/src/app/core/services/scanner-beep.service.ts
  frontend/src/app/core/utils/beep.utils.ts
Due: frontend, combined

extend cookie lifespan
  backend/src/vendure-config.ts
Due: backend, combined

frontend init logic cleanup
  frontend/src/app/core/services/app-init.service.ts
  frontend/src/app/core/services/stock-location.service.ts
  frontend/src/app/dashboard/layout/dashboard-layout.component.ts
  frontend/src/app/dashboard/pages/product-create/product-create.component.html
  frontend/src/app/dashboard/pages/product-create/product-create.component.ts
Due: frontend, combined

align barcode reading and ML product detection
  frontend/src/app/dashboard/pages/product-create/product-create.component.ts
  frontend/src/app/dashboard/pages/sell/components/detection/barcode-detector.ts
  frontend/src/app/dashboard/pages/sell/components/detection/detection-coordinator.ts
  frontend/src/app/dashboard/pages/sell/components/detection/detection.types.ts
  frontend/src/app/dashboard/pages/sell/components/detection/index.ts
  frontend/src/app/dashboard/pages/sell/components/detection/ml-detector.ts
  frontend/src/app/dashboard/pages/sell/components/product-scanner.component.ts
Due: frontend, combined

barcode detector refinement
  frontend/src/app/dashboard/layout/dashboard-layout.component.html
  frontend/src/app/dashboard/pages/product-create/components/barcode-scanner.component.ts
  frontend/src/app/dashboard/pages/product-create/components/how-sold-selector.component.ts
  frontend/src/app/dashboard/pages/product-create/components/identification-selector.component.ts
  frontend/src/app/dashboard/pages/product-create/components/item-type-selector.component.ts
  frontend/src/app/dashboard/pages/product-create/components/product-name-input.component.ts
  frontend/src/app/dashboard/pages/product-create/product-create.component.html
  frontend/src/app/dashboard/pages/product-create/product-create.component.scss
  frontend/src/app/dashboard/pages/sell/components/product-scanner.component.ts
Due: frontend, combined

registration refinement
  backend/src/plugins/auth/phone-auth.resolver.ts
  backend/src/services/auth/phone-auth.service.ts
  backend/src/services/auth/provisioning/registration-validator.service.ts
  frontend/src/app/core/graphql/generated/gql.ts
  frontend/src/app/core/graphql/generated/graphql.ts
  frontend/src/app/core/graphql/generated/index.ts
  frontend/src/app/core/graphql/operations.graphql.ts
  frontend/src/app/core/services/auth.service.ts
  frontend/src/app/core/utils/phone.utils.ts
  frontend/src/app/pages/auth/signup/signup.component.ts
Due: backend, frontend, combined

refactor registration flow to generate company code from company name; remove company code input from frontend and backend
  backend/spec/services/auth/provisioning/provisioning-harness.ts
  backend/spec/services/auth/provisioning/refactor-verification.spec.ts
  backend/spec/services/auth/provisioning/role-provisioner-forbidden-error.spec.ts
  backend/spec/services/auth/provisioning/role-provisioner.service.spec.ts
  backend/spec/services/auth/registration-flow.integration.spec.ts
  backend/spec/services/auth/registration.service.spec.ts
  backend/spec/services/auth/store-provisioner.service.spec.ts
  backend/src/plugins/auth/phone-auth.resolver.ts
  backend/src/services/auth/phone-auth.service.ts
  backend/src/services/auth/provisioning/channel-provisioner.service.ts
  backend/src/services/auth/provisioning/payment-provisioner.service.ts
  backend/src/services/auth/provisioning/registration-validator.service.ts
  backend/src/services/auth/provisioning/role-provisioner.service.ts
  backend/src/services/auth/provisioning/seller-provisioner.service.ts
  backend/src/services/auth/registration.service.ts
  backend/src/utils/phone.utils.ts
  frontend/src/app/core/graphql/operations.graphql.ts
  frontend/src/app/core/services/auth.service.ts
  frontend/src/app/core/services/registration.service.ts
  frontend/src/app/pages/auth/signup/signup.component.html
  frontend/src/app/pages/auth/signup/signup.component.ts
Due: backend, frontend, combined

codegen fixes
  frontend/src/app/core/graphql/generated/gql.ts
  frontend/src/app/core/graphql/generated/graphql.ts
Due: frontend, combined

registration refinement
  backend/src/plugins/auth/phone-auth.resolver.ts
  backend/src/services/auth/phone-auth.service.ts
  backend/src/services/auth/registration.service.ts
  frontend/src/app/core/graphql/generated/gql.ts
  frontend/src/app/core/graphql/generated/graphql.ts
  frontend/src/app/core/graphql/operations.graphql.ts
  frontend/src/app/core/services/auth.service.ts
  frontend/src/app/pages/auth/signup/signup.component.html
  frontend/src/app/pages/auth/signup/signup.component.ts
Due: backend, frontend, combined

product creation refinements
  backend/src/services/auth/otp.service.ts
  frontend/package.json
  frontend/src/app/core/services/app-init.service.ts
  frontend/src/app/core/services/ml-model.service.ts
  frontend/src/app/core/services/tracing.service.ts
  frontend/src/app/dashboard/layout/dashboard-layout.component.html
  frontend/src/app/dashboard/pages/product-create/components/barcode-scanner.component.ts
  frontend/src/app/dashboard/pages/product-create/components/how-sold-selector.component.ts
  frontend/src/app/dashboard/pages/product-create/components/identification-selector.component.ts
  frontend/src/app/dashboard/pages/product-create/components/item-type-selector.component.ts
  frontend/src/app/dashboard/pages/product-create/components/measurement-unit-selector.component.ts
  frontend/src/app/dashboard/pages/product-create/components/product-name-input.component.ts
  frontend/src/app/dashboard/pages/product-create/components/size-template-selector.component.ts
  frontend/src/app/dashboard/pages/product-create/product-create.component.html
  frontend/src/app/dashboard/pages/product-create/product-create.component.scss
  frontend/src/app/dashboard/pages/product-create/product-create.component.ts
  frontend/src/app/dashboard/pages/sell/components/detection/barcode-detector.ts
  frontend/src/app/dashboard/pages/sell/components/detection/detection-coordinator.ts
  frontend/src/app/dashboard/pages/sell/components/product-scanner.component.ts
  frontend/src/index.html
Due: backend, frontend, combined

payment email standardization
  backend/src/infrastructure/config/environment.config.ts
  backend/src/services/subscriptions/subscription.service.ts
Due: backend, combined

tests fix
  backend/src/services/subscriptions/subscription.service.ts
Due: backend, combined

notifications positioning fix
  frontend/src/app/dashboard/components/shared/index.ts
  frontend/src/app/dashboard/components/shared/menu-toggle-button.component.ts
  frontend/src/app/dashboard/components/shared/notification-dropdown.component.scss
  frontend/src/app/dashboard/components/shared/notification-dropdown.component.ts
  frontend/src/app/dashboard/components/shared/notification-item.component.ts
  frontend/src/app/dashboard/components/shared/notification-list.component.ts
  frontend/src/app/dashboard/components/shared/user-avatar-button.component.ts
  frontend/src/app/dashboard/layout/dashboard-layout.component.html
  frontend/src/app/dashboard/layout/dashboard-layout.component.ts
  frontend/src/app/dashboard/pages/overview/overview.component.html
Due: frontend, combined

reduce api call
  frontend/src/app/core/graphql/operations.graphql.ts
  frontend/src/app/core/services/dashboard.service.ts
  frontend/src/app/core/services/product/product-cache.service.ts
  frontend/src/app/dashboard/pages/accounting/accounting.component.ts
Due: frontend, combined
