Repository kisinga/Dukahub: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, combined

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 5%
    patch:
      default:
        target: 80%
        threshold: 5%

flags:
  backend:
    paths:
      - backend/src/
    carryforward: true
  frontend:
    paths:
      - frontend/src/
    carryforward: true
  combined:
    paths:
      - backend/src/
      - frontend/src/
    carryforward: true

comment:
  layout: "header,diff,files,footer"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

github_checks:
  annotations: true

fix coverage
  .github/workflows/test.yml
Due: none

update coverage targets
  ARCHITECTURE.md
  backend/jest.config.js
  backend/spec/plugins/coverage-generator.spec.ts
  backend/src/utils/test-utils.ts
  codecov.yml
Due: backend, combined

link tests to publish workflow
  .github/workflows/build-and-push.yml
Due: none

workflow fixes
  .github/workflows/build-and-push.yml
Due: none

coverage fixes
  .github/workflows/test.yml
  backend/jest.config.js
  codecov.yml
  frontend/test-runner.js
Due: none

fix payment-method fetching
  frontend/src/app/core/graphql/generated/gql.ts
  frontend/src/app/core/graphql/generated/graphql.ts
  frontend/src/app/core/graphql/operations.graphql.ts
  frontend/src/app/core/services/payment-method.service.ts
Due: frontend, combined

align payment method
  frontend/src/app/core/services/payment-method.service.ts
  frontend/src/app/dashboard/pages/sell/components/checkout-modal.component.ts
Due: frontend, combined

fix dockerfile
  backend/Dockerfile
  backend/tsconfig.json
Due: none

backend tests fixes
  backend/jest.config.js
  backend/spec/plugins/coverage-generator.spec.ts
  backend/tsconfig.json
Due: none

Add shop setup guide and implement order setup service for POS system
  SHOP_SETUP.md
  backend/src/vendure-config.ts
  frontend/src/app/core/graphql/generated/gql.ts
  frontend/src/app/core/graphql/generated/graphql.ts
  frontend/src/app/core/graphql/operations.graphql.ts
  frontend/src/app/core/services/order-setup.service.ts
  frontend/src/app/core/services/order.service.ts
  frontend/src/app/dashboard/pages/sell/sell.component.ts
Due: backend, frontend, combined

documentaion
  CUSTOMER_PROVISIONING.md
  SHOP_SETUP.md
  VENDURE.md
Due: none

fix tests
  .github/workflows/test.yml
  frontend/karma.conf.js
  frontend/test-runner.js
Due: none

enhance order fulfilment logic
  backend/src/vendure-config.ts
  frontend/src/app/core/graphql/generated/gql.ts
  frontend/src/app/core/graphql/generated/graphql.ts
  frontend/src/app/core/graphql/operations.graphql.ts
  frontend/src/app/core/services/order-setup.service.ts
  frontend/src/app/core/services/order.service.ts
Due: backend, frontend, combined

imrove order loaction setting
  frontend/src/app/core/graphql/generated/graphql.ts
  frontend/src/app/core/graphql/operations.graphql.ts
  frontend/src/app/core/services/order-setup.service.ts
Due: frontend, combined

implemented company settings
  VENDURE.md
  backend/src/plugins/channel-settings.plugin.ts
  backend/src/plugins/channel-settings.resolver.spec.ts
  backend/src/plugins/channel-settings.resolver.ts
  backend/src/plugins/channel-settings.service.ts
  backend/src/vendure-config.ts
  frontend/public/shop_icon.png
  frontend/src/app/app.routes.ts
  frontend/src/app/core/graphql/generated/gql.ts
  frontend/src/app/core/graphql/generated/graphql.ts
  frontend/src/app/core/graphql/operations.graphql.ts
  frontend/src/app/core/guards/settings.guard.ts
  frontend/src/app/core/services/auth.service.ts
  frontend/src/app/core/services/settings.service.ts
  frontend/src/app/dashboard/layout/dashboard-layout.component.html
  frontend/src/app/dashboard/layout/dashboard-layout.component.ts
  frontend/src/app/dashboard/pages/settings/components/admin-management.component.ts
  frontend/src/app/dashboard/pages/settings/components/general-settings.component.ts
  frontend/src/app/dashboard/pages/settings/components/ml-model-status.component.ts
  frontend/src/app/dashboard/pages/settings/components/payment-methods.component.ts
  frontend/src/app/dashboard/pages/settings/settings.component.ts
Due: backend, frontend, combined

working custom-prices for orders
  VENDURE.md
  backend/src/migrations/1732360000000-fix-price-override-schema.ts
  backend/src/migrations/1732360000001-rename-custom-price-field.ts
  backend/src/plugins/channel-settings.resolver.spec.ts.bak
  backend/src/plugins/channel-settings.service.ts
  backend/src/plugins/custom-price-calculation.strategy.ts
  backend/src/plugins/price-override.permission.ts
  backend/src/plugins/price-override.plugin.ts
  backend/src/plugins/price-override.resolver.ts
  backend/src/plugins/price-override.service.ts
  backend/src/vendure-config.ts
  frontend/src/app/core/graphql/generated/gql.ts
  frontend/src/app/core/graphql/generated/graphql.ts
  frontend/src/app/core/graphql/operations.graphql.ts
  frontend/src/app/core/services/auth.service.ts
  frontend/src/app/core/services/cache.service.ts
  frontend/src/app/core/services/cart.service.ts
  frontend/src/app/core/services/order.service.ts
  frontend/src/app/dashboard/pages/sell/components/cart-item.component.ts
  frontend/src/app/dashboard/pages/sell/components/cart-modal.component.ts
  frontend/src/app/dashboard/pages/sell/components/cart.component.ts
  frontend/src/app/dashboard/pages/sell/components/checkout-fab.component.ts
  frontend/src/app/dashboard/pages/sell/components/checkout-modal.component.ts
  frontend/src/app/dashboard/pages/sell/components/price-override.component.ts
  frontend/src/app/dashboard/pages/sell/components/product-search.component.ts
  frontend/src/app/dashboard/pages/sell/components/search-view.component.ts
  frontend/src/app/dashboard/pages/sell/sell.component.html
  frontend/src/app/dashboard/pages/sell/sell.component.ts
Due: backend, frontend, combined

update frontend CI node version
  .github/workflows/test.yml
Due: none

tests fixes
  .github/workflows/test.yml
  frontend/karma.conf.js
  frontend/package.json
  frontend/test-runner.js
Due: none

fix frontend tests
  frontend/src/app/core/services/__tests__/service-behavior.spec.ts
  frontend/src/app/core/services/__tests__/service-integration.spec.ts
  frontend/src/app/core/testing/behavioral/smoke-tests.spec.ts
  frontend/src/app/core/testing/critical/critical-integration.spec.ts
  frontend/src/app/core/testing/hooks/future-ui-hooks.spec.ts
  frontend/src/app/dashboard/layout/dashboard-layout.component.spec.ts
Due: frontend, combined

refactor frontend tests to improve clarity and setup
  frontend/src/app/app.spec.ts
  frontend/src/app/core/services/__tests__/service-behavior.spec.ts
  frontend/src/app/core/services/__tests__/service-integration.spec.ts
  frontend/src/app/core/testing/behavioral/smoke-tests.spec.ts
  frontend/src/app/core/testing/critical/critical-integration.spec.ts
  frontend/src/app/dashboard/layout/dashboard-layout.component.spec.ts
Due: frontend, combined

tests fix
  frontend/src/app/core/services/__tests__/service-behavior.spec.ts
  frontend/src/app/core/services/__tests__/service-integration.spec.ts
  frontend/src/app/core/testing/behavioral/smoke-tests.spec.ts
  frontend/src/app/core/testing/critical/critical-integration.spec.ts
Due: frontend, combined

update Dockerfile and package.json to reflect new file paths in dist/src
  backend/Dockerfile
  backend/package.json
Due: none

Update email plugin configuration to use process.cwd() for file paths
  backend/src/vendure-config.ts
Due: backend, combined

lay plans
  plans/credit.md
  plans/notifications.md
  plans/settings.md
Due: none

add notifications
  backend/backend.log
  backend/package-lock.json
  backend/package.json
  backend/src/plugins/notification-handler.service.ts
  backend/src/plugins/notification.plugin.ts
  backend/src/plugins/notification.resolver.ts
  backend/src/plugins/notification.service.ts
  backend/src/plugins/push-notification.service.ts
  backend/src/vendure-config.ts
  frontend/angular.json
  frontend/ngsw-config.json
  frontend/package-lock.json
  frontend/package.json
  frontend/public/icons/icon-128x128.png
  frontend/public/icons/icon-144x144.png
  frontend/public/icons/icon-152x152.png
  frontend/public/icons/icon-192x192.png
  frontend/public/icons/icon-384x384.png
  frontend/public/icons/icon-512x512.png
  frontend/public/icons/icon-72x72.png
  frontend/public/icons/icon-96x96.png
  frontend/public/manifest.webmanifest
  frontend/src/app/app.config.ts
  frontend/src/app/app.html
  frontend/src/app/app.ts
  frontend/src/app/core/graphql/notification.types.ts
  frontend/src/app/core/graphql/operations.graphql.ts
  frontend/src/app/core/layout/toast/toast.component.ts
  frontend/src/app/core/services/notification.service.ts
  frontend/src/app/core/services/toast.service.ts
  frontend/src/app/dashboard/layout/dashboard-layout.component.html
  frontend/src/app/dashboard/layout/dashboard-layout.component.ts
  frontend/src/app/dashboard/pages/settings/components/notification-settings.component.ts
  frontend/src/app/dashboard/pages/settings/settings.component.ts
  frontend/src/index.html
Due: backend, frontend, combined

Migrations fix
  backend/src/migrations/1732360000000-fix-price-override-schema.ts
  backend/src/migrations/1732360000001-rename-custom-price-field.ts
  backend/src/plugins/ml-auto-extract.service.ts
  backend/src/plugins/ml-extraction-queue.service.ts
Due: backend, combined

attempt at a working notification system
  NOTIFICATION_SYSTEM.md
  backend/backend-test.log
  backend/src/migrations/1761700000000-AddNotificationEntity.ts
  backend/src/plugins/notification-test.controller.ts
  backend/src/plugins/notification.plugin.ts
  backend/src/plugins/notification.service.ts
  backend/src/plugins/push-notification.service.ts
  configs/.env.example
  frontend/angular.json
  frontend/src/app/app.config.ts
  frontend/src/app/core/graphql/generated/gql.ts
  frontend/src/app/core/graphql/generated/graphql.ts
  frontend/src/app/core/services/notification.service.ts
  frontend/src/app/dashboard/pages/settings/components/notification-settings.component.ts
  frontend/src/app/dashboard/pages/settings/components/notification-test.component.ts
  frontend/src/app/dashboard/pages/settings/settings.component.ts
Due: backend, frontend, combined

cleanup frontend naming
  frontend/angular.json
  frontend/package.json
Due: none

Refactor SMS provider integration to use AfricasTalking
  backend/src/environment.d.ts
  backend/src/migrations/1761800000000-AddUserAuthorizationField.ts
  backend/src/plugins/phone-auth.plugin.ts
  backend/src/plugins/sms/index.ts
  backend/src/plugins/sms/interfaces/sms-provider.interface.ts
  backend/src/plugins/sms/providers/africastalking.provider.ts
  backend/src/plugins/sms/providers/hostpinnacle.provider.ts
  backend/src/plugins/sms/sms-provider.factory.ts
  backend/src/plugins/sms/sms.service.ts
  backend/src/utils/phone.utils.ts
  docker-compose.yml
  docs/AUTHORIZATION_WORKFLOW.md
  docs/BACKEND_INTEGRATION_REQUIREMENTS.md
  docs/CHANNEL_LINKING_IMPLEMENTATION.md
  docs/REGISTRATION_FIELDS.md
  frontend/src/app/core/services/registration.service.ts
  frontend/src/app/pages/auth/signup/signup.component.css
Due: backend, frontend, combined

Enhance phone authentication service to validate user accounts before OTP request
  backend/src/plugins/phone-auth.resolver.ts
  backend/src/plugins/phone-auth.service.ts
Due: backend, combined

Refactor SMS provider configuration and enhance registration OTP flow
  backend/src/environment.d.ts
  backend/src/migrations/1761800000000-AddUserAuthorizationField.ts
  backend/src/plugins/phone-auth.plugin.ts
  backend/src/plugins/phone-auth.resolver.ts
  backend/src/plugins/phone-auth.service.ts
  backend/src/plugins/registration-storage.service.ts
  backend/src/plugins/registration.service.ts
  backend/src/plugins/sms/index.ts
  backend/src/plugins/sms/providers/textsms.provider.ts
  backend/src/plugins/sms/sms-provider.factory.ts
  backend/src/utils/phone.utils.ts
  backend/src/vendure-config.ts
  docker-compose.yml
  docs/AUTHORIZATION_WORKFLOW.md
  docs/CHANNEL_LINKING_IMPLEMENTATION.md
  docs/REGISTRATION_FIELDS.md
  frontend/src/app/core/graphql/generated/gql.ts
  frontend/src/app/core/graphql/generated/graphql.ts
  frontend/src/app/core/graphql/operations.graphql.ts
  frontend/src/app/core/services/auth.service.ts
  frontend/src/app/core/services/registration.service.ts
  frontend/src/app/pages/auth/signup/signup.component.css
  frontend/src/app/pages/auth/signup/signup.component.ts
Due: backend, frontend, combined

Update docker-compose.yml and enhance registration service
  backend/src/migrations/1761800000000-AddUserAuthorizationField.ts
  backend/src/plugins/registration.service.ts
  backend/src/utils/phone.utils.ts
  docker-compose.yml
  docs/AUTHORIZATION_WORKFLOW.md
  docs/CHANNEL_LINKING_IMPLEMENTATION.md
  docs/REGISTRATION_FIELDS.md
  frontend/src/app/core/services/registration.service.ts
  frontend/src/app/pages/auth/signup/signup.component.css
Due: backend, frontend, combined

Enhance subscription management and update backend configurations
  SUBSCRIPTION_INTEGRATION.md
  backend/VENDURE_CUSTOM_FIELDS.md
  backend/VENDURE_CUSTOM_FIELDS_CAVEAT.md
  backend/package.json
  backend/src/entrypoint.ts
  backend/src/migrations/1761800000000-AddUserAuthorizationField.ts
  backend/src/migrations/1761900000000-AddSubscriptionFields.ts
  backend/src/migrations/1761900000001-RenameSubscriptionTierColumn.ts
  backend/src/migrations/1761900000002-NormalizeSubscriptionTierColumn.ts
  backend/src/migrations/1761900000003-NormalizeSubscriptionFieldsCasing.ts
  backend/src/migrations/1761900000004-AlignSubscriptionTierConstraints.ts
  backend/src/migrations/1761900000005-UpdateSubscriptionFkActions.ts
  backend/src/plugins/paystack.service.ts
  backend/src/plugins/phone-auth.service.ts
  backend/src/plugins/registration.service.ts
  backend/src/plugins/subscription-webhook.controller.ts
  backend/src/plugins/subscription.entity.ts
  backend/src/plugins/subscription.guard.ts
  backend/src/plugins/subscription.plugin.ts
  backend/src/plugins/subscription.resolver.ts
  backend/src/plugins/subscription.service.ts
  backend/src/utils/phone.utils.ts
  backend/src/vendure-config.ts
  docs/AUTHORIZATION_WORKFLOW.md
  docs/CHANNEL_LINKING_IMPLEMENTATION.md
  docs/REGISTRATION_FIELDS.md
  frontend/src/app/core/graphql/generated/gql.ts
  frontend/src/app/core/graphql/generated/graphql.ts
  frontend/src/app/core/graphql/operations.graphql.ts
  frontend/src/app/core/interceptors/subscription.interceptor.ts
  frontend/src/app/core/services/company.service.ts
  frontend/src/app/core/services/registration.service.ts
  frontend/src/app/core/services/subscription.service.ts
  frontend/src/app/dashboard/pages/settings/components/payment-modal.component.ts
  frontend/src/app/dashboard/pages/settings/components/subscription-status.component.ts
  frontend/src/app/pages/auth/signup/signup.component.css
Due: backend, frontend, combined
